{{$context := .}}
{{$allowed_actions := (allowed_actions $context.Resource.Actions $context.Action)}}
{{$resource := .Resource}}
{{$result := .Result}}

{{if gt (len $allowed_actions) 0 }}
  <div class="qor-action-forms" data-toggle="qor.action.bulk">
    {{range $action := $allowed_actions}}
      <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button qor-action-button" type="button" {{if not .Resource}}data-ajax-form="true"{{end}} data-error-no-product="{{t "qor_admin.actions.please_select_an_item" "Please select an item"}}"  data-url="{{url_for $result $resource}}/{{$action.ToParam}}" {{if not $action.Resource}}data-dataType="json" data-confirm="{{t "qor_admin.form.are_you_sure"}}" data-method="PUT"{{end}}>
        {{t (printf "%v.actions.%v" $resource.ToParam $action.Label) $action.Label}}
      </button>
    {{end}}
  </div>
{{end}}
