{{$resource := .Resource}}
<ul class="editable_locales">
  {{range $locale := createable_locales .}}
    <li>
      <a href="{{new_resource_path $resource}}?locale={{$locale}}">
        {{printf "New %v" $locale}}
      </a>
    </li>
  {{end}}
</ul>

<ul class="viewable_locales">
  {{range $locale := viewable_locales .}}
    <li>{{$locale}}</li>
  {{end}}
</ul>

<article class="article clearfix">
  {{render "index/filter"}}

  {{render "index/table"}}
</article>
