{{$actions := load_actions "new"}}
{{if $actions}}
  <div class="qor-page__header">
    {{$actions}}
  </div>
{{end}}
<div class="qor-page__body">
  {{render "shared/alerts"}}
  {{render "shared/errors"}}
  <div class="qor-form-container">
    <form class="qor-form" action="{{patch_url (url_for .Resource) "locale" (current_locale .)}}" method="POST" enctype="multipart/form-data">
      {{render_form .Result new_sections}}
      <div class="qor-form__actions">
        <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{rt .Resource (printf "Add %v" (singular .Resource.Name))}}</button>
        <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:history.back();">{{t "Cancel"}}</a>
      </div>
    </form>
  </div>
</div>
