<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{rt .Resource (printf "Edit %v" (singular .Resource.Name))}}</span>
      {{render "shared/navbar"}}
    </div>
  </header>
  <div class="mdl-layout__drawer">
    {{render "shared/sidebar"}}
  </div>
  <main class="mdl-layout__content qor-page" id="content">
    {{$actions := load_index_actions}}
    {{if $actions}}
      <div class="qor-page__header">
        {{$actions}}
      </div>
    {{end}}
    <div class="qor-page__body">

      {{render "shared/flashes"}}
      {{render "shared/errors"}}

      <div class="qor-form-container">
        <form class="qor-form" action="{{patch_current_url "locale" (current_locale .)}}" method="POST" enctype="multipart/form-data">
          {{render_form .Result edit_metas}}
          <div class="qor-form__actions">
            <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "Save Changes"}}</button>
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:history.back();">{{t "Cancel Edit"}}</a>
          </div>
        </form>
      </div>
    </div>
    <div class="qor-page__footer"></div>
  </main>
</div>
