{
    'env': {
        'browser': true,
        'es6': true,
        'commonjs': true,
        'amd': true,
        'jquery': true,
    },
    'extends': 'eslint:recommended',
    'parserOptions': {
        'sourceType': 'module'
    },
    'globals': {
        '$': true,
        'jQuery': true
    },
    'rules': {
        'no-console': 0,
        'no-debugger': 0,
        'indent': [
            0,
            4
        ],
        'semi': [
            2,
            'always'
        ]
    }
}
