{
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true,
        "amd": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "$": true,
        "jQuery": true
    },
    "rules": {
        "no-const-assign": "error",
        "no-this-before-super": "error",
        "no-undef": "error",
        "no-unreachable": "error",
        "no-unused-vars": "error",
        "constructor-super": "error",
        "valid-typeof": "error",
        "no-console": 0,
        "no-useless-escape": 0,
        "no-debugger": 0,
        "indent": [0, 4],
        "semi": [2, "always"]
    }
}
