<div class="qor-collection-group collection-edit form-group">
  <label for="{{.InputId}}">{{.Label}}</label>
  {{$meta := .Meta}}
  {{if .Value}}
    {{range $index, $value := .Value }}
      <fieldset class="qor-collection">
        <button type="button" class="qor-collection-del close pull-right">&times;</button>
        {{render_form $value (edit_metas $meta.Resource) $index}}
      </fieldset>
    {{end}}
  {{end}}

  <fieldset class="qor-collection qor-collection-new">
    <button type="button" class="qor-collection-del close pull-right">&times;</button>
    {{render_form $meta.Resource.GetResource.Value (new_metas $meta.Resource) (len .Value)}}
  </fieldset>

  <button type="button" class="qor-collection-add btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>
