<div class="form-group">
  <label for="{{.InputId}}">{{.Label}}</label>
  <input type="text" class="form-control" id="{{.InputId}}" data-toggle="qor.datepicker" name="{{.InputName}}" value="{{.Value}}">
</div>

