{{$value := .Value}}

<div class="form-group">
  <label for="{{.InputId}}">{{.Label}}</label>
  <div>
    <label class="btn btn-primary">
      <input class="sr-only" id="{{.InputId}}" name="{{.InputName}}" type="file">
      Choose
    </label>
  </div>

  <textarea class="form-control sy-only" name="{{.InputName}}">
    {{if $value}}
      {{$value.Value}}
    {{end}}
  </textarea>

  {{if $value}}
    {{if $value.IsImage}}
      <img class="img-responsive" src="{{$value.URL}}" data-original-url="{{$value.URL "original"}}">

      {{range $key, $v := $value.GetSizes}}
        <img src="{{$value.URL $key}}">
      {{end}}
    {{else if $value.URL}}
      <a href="{{$value.URL}}">Download</a>
    {{end}}
  {{end}}
</div>
