{{$value := .Value}}

<div class="form-group">
  <label for="{{.InputId}}">{{.Label}}</label>
  <input class="qor-file-input" id="{{.InputId}}" name="{{.InputName}}" type="file">
  <textarea class="qor-file-options hide" name="{{.InputName}}">{{if $value}}{{$value.Value}}{{end}}</textarea>
  {{if $value}}
    {{if $value.IsImage}}
      <img class="qor-file-image" src="{{$value.URL}}">

      {{range $key, $v := $value.GetSizes}}
        <img src="{{$value.URL $key}}">
      {{end}}
    {{else}}
      <a href="{{$value.URL}}">Download</a>
    {{end}}
  {{end}}
</div>
