{{$value := .Value}}

<div class="form-group">
  <label for="{{.InputId}}">{{rt .Base .Label }}</label>
  <div>
    <label class="btn btn-sm btn-primary" {{if not (has_update_permission .Meta)}}DISABLED{{end}}>
      <input class="qor-fileinput sr-only" id="{{.InputId}}" name="{{.InputName}}" type="file">
      {{t "Choose File"}}
    </label>
  </div>

  <textarea class="hide" name="{{.InputName}}">
    {{if $value}}
      {{$value.Value}}
    {{end}}
  </textarea>

  {{if $value}}
    {{if $value.IsImage}}
      {{if $value.GetSizes}}
        {{range $key, $v := $value.GetSizes}}
          <img class="img-responsive" src="{{$value.URL $key}}" data-original-url="{{$value.URL "original"}}" data-size-name="{{$key}}" data-size-resolution="{{marshal $v}}">
        {{end}}
      {{else}}
        <img class="img-responsive" src="{{$value.URL}}" data-original-url="{{$value.URL "original"}}" data-size-name="original">
      {{end}}
    {{else if $value.URL}}
      <a href="{{$value.URL}}">{{t "Download"}}</a>
    {{end}}
  {{end}}
</div>
