<div class="form-group">
  <label for="{{.InputId}}">{{.Label}}</label>
  <input class="form-control" id="{{.InputId}}" name="{{.InputName}}" value="{{.Value}}" type="number" {{if not (has_update_permission .Meta)}}DISABLED{{end}}>
</div>
