<div class="form-group">
  <label for="{{.InputId}}">{{rt .Base .Label }}</label>
  <input class="form-control" id="{{.InputId}}" name="{{.InputName}}" value="{{.Value}}" type="password" {{if not (has_update_permission .Meta)}}DISABLED{{end}}>
</div>
