<div class="form-group">
  <label for="{{.InputId}}">{{.Label}}</label>
  <textarea class="form-control qor-text-editor" id="{{.InputId}}" name="{{.InputName}}" data-upload-url="{{url_for .Meta.Resource}}/upload" data-crop-url="{{url_for .Meta.Resource}}/crop">
    {{.Value}}
  </textarea>
</div>
