<div>
  <label class="label" for="{{.InputId}}">{{.Label}}</label>
  <textarea id="{{.InputId}}" name="{{.InputName}}"
                              class="redactor-editor"
                              data-upload-url="{{url_for .Meta.Resource}}/upload"
                              data-crop-url="{{url_for .Meta.Resource}}/crop">
    {{.Value}}
  </textarea>
</div>
