<div class="form-group">
  <label for="{{.InputId}}">{{rt .Base .Label }}</label>
  <select class="form-control" id="{{.InputId}}" data-toggle="qor.selector" name="{{.InputName}}" {{if not (has_update_permission .Meta)}}DISABLED{{end}}>
    {{$current_value := .Value}}
    {{range $values := .CollectionValue}}
      {{if (eq (print (index $values 0)) (print $current_value))}}
        <option value="{{index $values 0}}" selected>{{index $values 1}}</option>
      {{else}}
        <option value="{{index $values 0}}">{{index $values 1}}</option>
      {{end}}
    {{end}}
  </select>
</div>
