.qor-sorting {
  .qor-action-new,
  .qor-action-edit,
  .qor-action-delete {
    display: none;
  }
}

.qor-sorting-action {
  float: left;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

  > .qor-sorting-exit,
  > .qor-sorting-enter {
    float: left;
    margin: 6px 4px 6px 0;
  }
}

.qor-sorting-position {
  width: 80px;
  height: 32px;
  padding: 0 8px;
  text-align: center;
}

.qor-sorting-toggle {
  cursor: move;
}

.qor-sorting-highlight {
  background-color: #dff0d8 !important;
}
