.qor-sorting {
  .qor-button--new,
  .qor-button--edit,
  .qor-button--delete {
    display: none;
  }
}

.qor-sorting__position {
  width: 56px;
  height: 20px;
  padding: 0 8px;
  text-align: center;
}

.qor-sorting__toggle {
  cursor: move;
}

.qor-sorting__highlight {
  background-color: #FCE4EC !important;
}
