.qor-selector {

}

// .chosen-container-single .chosen-search input[type="text"] {
//   padding-left: 20px;
//   padding-right: 4px;
//   background-position: -30px -20px;
// }

.chosen-container-single .chosen-search input[type="text"] {
  padding-left: 24px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAESSURBVCiRnZLNqoJAGEBPdUG3IYpteoABo42tewHfVrBXiHYJs05cKAlKKxWEr0XYvXMtiM5uPubw/c5ERPiCn7+PLMtI05SqqgBwXZfNZsN6vZ6IszHj6XSirmuUUvi+D0BRFGitcRyHMAxNU0QkyzJJkkS6rpP/dF0nh8NBLpeLEZ8DnM9nlFJYljUpybIslFKkaWrE5wBVVbFard4Owvf9Z9+G+A1zeEyvLMu3n8qyxHXdqRgEAVpr+r6fSH3fo7UmCAIj/nIdY7/jOoZhYLFYsN/vsW3bFOH3AK7XKwCe5z2ryfOc5XJJFEXYtm2K72jbljiOaZqG7XbLbrd7HMAntG0rx+NRbrebiIh8lPEVdxFj3huq3HlkAAAAAElFTkSuQmCC);
  background-position: 5px 50%;
  background-repeat: no-repeat;
}
