.qor-sorting .qor-button--new,
.qor-sorting .qor-button--edit,
.qor-sorting .qor-button--delete {
  display: none; }

.qor-button-container {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px; }

.qor-sorting-position {
  width: 80px;
  height: 32px;
  padding: 0 8px;
  text-align: center; }

.qor-sorting-toggle {
  cursor: move; }

.qor-sorting-highlight {
  background-color: #dff0d8 !important; }
