.drafts {
  width: 70%;
  margin: 0 auto;
}

table {
  width: 100%;
}

.drafts section {
  margin: 20px 0;
  clear: both;
}

table td, table th {
  height: 2em;
}

/* Publish Buttons */
.publish-buttons {
  margin-bottom: 20px;
  padding: 20px;
  background: #FAFAFA;
  border: 1px solid #EEE;
  box-shadow: 1px 1px 1px #888888;
}

.publish-buttons button {
  font-weight: 700;
  margin: 0;
}
