.drafts {
  width: 70%;
  margin: 0 auto;
}

.drafts h2.title {
  margin: 25px 5px;
  font-size: 1.5em;
  font-weight: 700;
  color: #555;
}

.drafts section {
  margin: 20px 0;
  clear: both;
}

table {
  width: 100%;
}

table input[type="checkbox"] {
  margin: 0;
  vertical-align: center;
}

table th {
  height: 2em;
}

table td:not(.selector) {
  height: 2em;
  cursor: pointer;
}

/* Diff Table */
.reveal-modal-box .close-reveal-modal {
  top: -0.5rem;
  right: 0.6rem;
}

.reveal-modal-box table th {
  border: 1px solid #fff;
  font-weight: 700;
}

.reveal-modal-box table td {
  border: 1px solid #fafafa;
}

.reveal-modal-box table tr.diff {
  background: #fcc;
}

/* Publish Buttons */
.publish-buttons {
  margin-bottom: 20px;
  padding: 20px;
  background: #FAFAFA;
  border: 1px solid #EEE;
  box-shadow: 1px 1px 1px #888888;
}

.publish-buttons button {
  font-weight: 700;
  margin: 0;
}
