{{$Resource := .Resource}}

<table class="qor-list">
  <thead>
    <tr>
      {{range $meta := index_metas}}
      <th {{if is_sortable_meta $meta}}data-order-by="{{$meta.DBName}}"{{end}}>{{dt (printf "%v.attributes.%v" $Resource.ToParam $meta.Label) $meta.Label}}</th>
      {{end}}
      <th class="qor-list-action">{{t "Actions"}}</th>
    </tr>
  </thead>

  <tbody>
    {{range $resource := .Result}}
      <tr data-primary-key="{{primary_key_of $resource}}">
        {{range $meta := index_metas}}
          <td data-heading="{{rt $Resource $meta.Label}}">
            <div class="qor-list-text">{{render_index_meta $resource $meta}}</div>
          </td>
        {{end}}

        <td class="qor-list-action">
          {{if has_update_permission $Resource}}
            <a class="qor-action-edit" href="{{url_for $resource}}"><i class="material-icons md-18">edit</i></a>
          {{end}}
          {{if has_delete_permission $Resource}}
            <a class="qor-action-delete" href="{{url_for $resource}}" data-method="DELETE" data-confirm="{{t "Are you sure?"}}"><i class="material-icons md-18">delete</i></a>
          {{end}}
        </td>
      </tr>
    {{end}}
  </tbody>
</table>
