.qor-dashboard .dashboard-section {
  margin-top: 12px;
  margin-bottom: 12px; }
  .qor-dashboard .dashboard-section > .section-header {
    padding: 8px 24px; }
    .qor-dashboard .dashboard-section > .section-header > .section-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.54); }
  .qor-dashboard .dashboard-section > .section-body {
    padding-left: 24px;
    padding-right: 24px; }
    .qor-dashboard .dashboard-section > .section-body > .qor-list {
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24); }
      .qor-dashboard .dashboard-section > .section-body > .qor-list > thead > tr > th:last-child,
      .qor-dashboard .dashboard-section > .section-body > .qor-list > tbody > tr > td:last-child {
        display: none; }
  .row .qor-dashboard .dashboard-section {
    margin-left: -15px;
    margin-right: -15px; }

.qor-dashboard .row .dashboard-section {
  margin-left: -15px;
  margin-right: -15px; }

.order-detail {
  margin: -16px -24px; }
  .order-detail .detail-action {
    padding: 16px 24px;
    background-color: #ededed;
    overflow: hidden; }
    .order-detail .detail-action > button:first-child {
      float: left;
      color: #ff4081 !important; }
    .order-detail .detail-action > button:last-child {
      float: right; }
  .order-detail .detail-heading {
    color: rgba(0, 0, 0, 0.54); }
  .order-detail .detail-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
    .order-detail .detail-list > li {
      position: relative;
      padding: 16px 24px; }
      .order-detail .detail-list > li + li {
        border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .order-detail .detail-item {
    position: relative;
    margin-bottom: 16px;
    padding-left: 40px; }
    .order-detail .detail-item > i {
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(0, 0, 0, 0.54); }
  .order-detail .item-heading {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54); }
    .order-detail .item-heading > a {
      margin-left: 24px;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #03a9f4; }
  .order-detail .item-content {
    display: block;
    min-height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87); }
    .order-detail .item-content > address {
      margin-bottom: 0; }
    .order-detail .item-content > input[type="number"] {
      height: 24px; }
    .order-detail .item-content > label {
      font-size: 12px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.54); }
      .order-detail .item-content > label + label {
        margin-left: 16px; }
      .order-detail .item-content > label > input[type="checkbox"] {
        margin-right: 4px; }
      .order-detail .item-content > label > input[type="number"] {
        display: inline-block;
        width: 80px;
        height: 24px;
        vertical-align: top;
        font-size: 16px; }
        .order-detail .item-content > label > input[type="number"].disabled,
        .order-detail .item-content > label > input[type="number"][disabled] {
          color: rgba(0, 0, 0, 0.54); }
    .order-detail .item-content > strong {
      margin-left: 16px;
      font-weight: normal; }
  .order-detail .detail-product-list .detail-item {
    padding-left: 0; }
    .order-detail .detail-product-list .detail-item img {
      width: 48px;
      height: 48px;
      background-color: #ccc; }
  .order-detail .detail-product-list .item-times {
    position: absolute;
    top: 24px;
    left: -24px;
    font-size: 14px;
    line-height: 24px; }
  .order-detail .qor-btn-group {
    padding: 16px 24px;
    text-align: right; }

.address-container .address-main {
  min-height: 320px;
  padding-right: 32px;
  border-right: 1px solid rgba(0, 0, 0, 0.12); }

.address-container .address-heading {
  color: rgba(0, 0, 0, 0.54); }

.address-container .address-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .address-container .address-list > li {
    position: relative;
    padding-left: 40px;
    padding-bottom: 32px;
    overflow: hidden; }
    .address-container .address-list > li + li {
      padding-top: 32px;
      border-top: 1px solid rgba(0, 0, 0, 0.12); }
      .address-container .address-list > li + li > i {
        top: 32px; }
    .address-container .address-list > li > i {
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(0, 0, 0, 0.54); }
    .address-container .address-list > li > address {
      font-size: 16px;
      line-height: 32px; }
    .address-container .address-list > li > button {
      position: relative;
      float: right; }
      .address-container .address-list > li > button > i {
        position: absolute;
        top: 6px;
        left: -32px;
        display: none;
        font-weight: 700; }
      .address-container .address-list > li > button.disabled {
        color: #fff !important;
        background-color: #ccc !important;
        box-shadow: none !important; }
        .address-container .address-list > li > button.disabled > i {
          display: block; }

.address-container .address-new .form-group {
  position: relative;
  margin-bottom: 32px;
  padding-left: 32px; }
  .address-container .address-new .form-group > label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.54); }
  .address-container .address-new .form-group > .form-field > .form-control + .form-control {
    margin-top: 8px; }

.address-container .qor-btn-group {
  padding: 16px 24px;
  text-align: right; }
