.header {
  height: 60px;
  background-color: #001f3f; }
  .header .brand {
    float: left;
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none; }

.main {
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  overflow: hidden; }

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  border-top: 1px solid #001226;
  background-color: #001f3f; }
  .footer .copyright {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #999; }
  .footer .bottomlinks {
    margin-bottom: 0; }
    .footer .bottomlinks > li > a {
      color: #ccc; }

.nav > li > a {
  padding: 10px 20px; }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #001f3f; }
.nav > li.disabled > a {
  color: #eeeeee; }
  .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #eeeeee; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #001f3f;
  border-color: transparent; }

.nav-pills > li > a {
  border-radius: 0;
  color: #fff; }
.nav-pills > li + li {
  margin-left: 0; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #001f3f; }

.navbar {
  min-height: 40px;
  margin-bottom: 0;
  background-color: #001226;
  border-radius: 0;
  border-width: 0; }

.dropdown-menu {
  min-width: 100%;
  padding: 0;
  margin-top: 0;
  background-color: #001f3f;
  border-color: #001f3f;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .dropdown-menu > li > a {
    padding: 5px 20px;
    color: #fff;
    font-size: 12px;
    line-height: 20px; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #fff;
      background-color: #001226; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #001226; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #eeeeee; }

.btn {
  border-radius: 0; }
  .btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-default {
  color: #001f3f;
  background-color: #fff;
  border-color: #eeeeee; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #001f3f;
    background-color: #e6e6e6;
    border-color: #d0d0d0; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #eeeeee; }
  .btn-default .badge {
    color: #fff;
    background-color: #001f3f; }

.btn-primary {
  color: #fff;
  background-color: #001f3f;
  border-color: #001f3f; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00060c;
    border-color: #000102; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #001f3f;
    border-color: #001f3f; }
  .btn-primary .badge {
    color: #001f3f;
    background-color: #fff; }

.table {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fcfcfc; }

.pagination {
  border-radius: 0; }
  .pagination > li {
    display: inline; }
    .pagination > li > a, .pagination > li > span {
      color: #333333; }
      .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
        z-index: 1;
        color: #001f3f;
        background-color: #fff;
        border-color: #001f3f; }
    .pagination > li:first-child > a, .pagination > li:first-child > span {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .pagination > li:last-child > a, .pagination > li:last-child > span {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #fff;
    background-color: #001226;
    border-color: #001226; }

.label-group > .label {
  margin-right: 5px; }
  .label-group > .label:last-child {
    margin-right: 0; }

.table .label-group {
  max-width: 480px; }

.section {
  margin-bottom: 20px; }
  .section:before, .section:after {
    content: " ";
    display: table; }
  .section:after {
    clear: both; }

.static {
  position: static; }

.lang-selector .dropdown-toggle {
  min-width: 120px; }
