.header {
  height: 60px;
  background-color: #3f51b5; }
  .header .brand {
    float: left;
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none; }

.main {
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  overflow: hidden; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  border-top: 1px solid #3849a2;
  background-color: #3f51b5; }
  .footer .copyright {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ccc; }
  .footer .bottomlinks {
    margin-bottom: 0; }
    .footer .bottomlinks > li > a {
      color: #eee; }

.form-control {
  border-radius: 0; }

.btn {
  border-radius: 0; }
  .btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-default {
  color: #3f51b5;
  background-color: #fff;
  border-color: #eeeeee; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #3f51b5;
    background-color: #e6e6e6;
    border-color: #d0d0d0; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #eeeeee; }
  .btn-default .badge {
    color: #fff;
    background-color: #3f51b5; }

.btn-primary {
  color: #fff;
  background-color: #3f51b5;
  border-color: #3f51b5; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #32408f;
    border-color: #2f3d88; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #3f51b5;
    border-color: #3f51b5; }
  .btn-primary .badge {
    color: #3f51b5;
    background-color: #fff; }

.btn-link {
  color: #3f51b5; }
  .btn-link:hover, .btn-link:focus {
    color: #32408f;
    text-decoration: none; }

.nav > li > a {
  padding: 10px 20px; }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #3f51b5; }
.nav > li.disabled > a {
  color: #eeeeee; }
  .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #eeeeee; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #3f51b5;
  border-color: transparent; }

.nav-pills > li > a {
  border-radius: 0;
  color: #fff; }
.nav-pills > li + li {
  margin-left: 0; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #3f51b5; }

.navbar {
  min-height: 40px;
  margin-bottom: 0;
  background-color: #3849a2;
  border-radius: 0;
  border-width: 0; }

.dropdown-menu {
  min-width: 100%;
  padding: 0;
  margin-top: 0;
  background-color: #3f51b5;
  border-color: #3f51b5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #fff; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #fff;
      background-color: #3849a2; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #3849a2; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #eeeeee; }

.table {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }
  .table > tbody > tr > td {
    max-width: 1%;
    word-break: break-all; }
    .table > tbody > tr > td img {
      max-width: 200px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fcfcfc; }

.pagination {
  border-radius: 0; }
  .pagination > li {
    display: inline; }
    .pagination > li > a, .pagination > li > span {
      color: #333333; }
      .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
        z-index: 1;
        color: #3f51b5;
        background-color: #fff;
        border-color: #3f51b5; }
    .pagination > li:first-child > a, .pagination > li:first-child > span {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }
    .pagination > li:last-child > a, .pagination > li:last-child > span {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #fff;
    background-color: #3849a2;
    border-color: #3849a2; }

.label-primary {
  background-color: #3f51b5; }

.label-group > .label {
  margin-right: 5px; }
  .label-group > .label:last-child {
    margin-right: 0; }

.table .label-group {
  max-width: 480px; }

.modal-content {
  border-radius: 0; }

.section {
  margin-bottom: 20px; }
  .section:before, .section:after {
    content: " ";
    display: table; }
  .section:after {
    clear: both; }

.static {
  position: static; }

.qor-cropper {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 320px;
  max-height: 180px;
  overflow: hidden;
  background-color: #fafafa; }
  .qor-cropper > img {
    max-width: 100%;
    max-height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.qor-cropper-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0; }
  .qor-cropper-toggle:hover {
    opacity: 1; }
  .qor-cropper-toggle:before, .qor-cropper-toggle:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: #eee;
    content: " "; }
  .qor-cropper-toggle:before {
    width: 30px;
    height: 4px;
    margin-left: -15px;
    margin-top: -2px; }
  .qor-cropper-toggle:after {
    width: 4px;
    height: 30px;
    margin-left: -2px;
    margin-top: -15px; }

.qor-cropper-modal .modal-header {
  border-bottom-color: #fafafa; }
.qor-cropper-modal .modal-body {
  padding: 0;
  background-color: #fafafa; }
  .qor-cropper-modal .modal-body img {
    max-width: 100%; }
.qor-cropper-modal .modal-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-color: #fafafa; }

#redactor-modal-box input[type="file"] {
  display: inline-block; }

.redactor-toolbar {
  z-index: 1000 !important; }

.lang-selector .dropdown-toggle {
  min-width: 120px; }
