.qor-publish {
  .qor-btn-group {
    padding-top: 14px;
    padding-bottom: 14px;

    > .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .qor-publish-modal {
    .modal-body {
      padding-top: 16px;
    }

    .qor-list-container {
      box-shadow: none;
    }
  }
}
