.qor-publish {
  .qor-btn-group {
    padding: 30px 30px 20px;

    > .btn {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .qor-publish-heading {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 30px;
  }

  .qor-publish-modal {
    .modal-body {
      padding-top: 16px;
    }

    .qor-list-container {
      box-shadow: none;
    }
  }
}
