.nav {
  > li {
    > a {
      padding: 10px 20px;

      &:hover,
      &:focus {
        background-color: $brand-primary;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $gray-lighter;

      &:hover,
      &:focus {
        color: $gray-lighter;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $brand-primary;
      border-color: transparent;
    }
  }
}

.nav-pills {
  > li {
    // Links rendered as pills
    > a {
      border-radius: 0;
      color: #fff;
    }

    + li {
      margin-left: 0;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: $brand-primary;
      }
    }
  }
}
