//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  border-radius: 0;

  > li {
    display: inline; // Remove list-style and block-level defaults

    > a,
    > span {
      color: $gray-dark;

      &:hover,
      &:focus {
        z-index: 1;
        color: $brand-primary;
        background-color: #fff;
        border-color: $brand-primary;
      }
    }

    &:first-child {
      > a,
      > span {
        @include border-left-radius(0);
      }
    }

    &:last-child {
      > a,
      > span {
        @include border-right-radius(0);
      }
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($brand-primary, 5%);
      border-color: darken($brand-primary, 5%);
    }
  }
}
