.qor-label-container {
  min-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 2px;

  .label {
    display: inline-block;
    vertical-align: middle;
    color: #fff;

    + .label {
      margin-left: 5px;
    }

    &.active {
      background-color: #337ab7;
    }
  }
}
