.label-group {
  min-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 2px;
  overflow: hidden;
}

.label-group .label {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.label-group .label + .label {
  margin-left: 5px;
}
