.qor-drag {
  cursor: move;
}

.qor-drag-data {
  display: none;
}

.qor-drop {
  margin-bottom: 20px;
}

.qor-drop:empty:before {
  display: block;
  padding: 50px 15px;
  border: 1px dashed transparent;
  content: "Drop Area";
  background-color: #fcfcfc;
  text-align: center;
  color: #eee;
}

.qor-drop.hover:empty:before {
  border-color: #337ab7;
}
