/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0;
  padding: 5px 10px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  text-align: center;
}


.qor-check-all {
  display: inline-block !important;
}
