<script type="text/javascript">
	$(document).ready(function() {
		$('select').on('change', function() {
			location.href = $(this).val();
		});
	});
</script>

<div class="row">
	<h3>{{.Result.Name}}</h3>
</div>

<div class="row">
	<li><a href="?scopes=running">Running</a></li>
	<li><a href="?scopes=done">Done</a></li>
	<li><a href="?scopes=failed">Failed</a></li>
</div>

<div class="row">
	<select class="small-9 small-centered large-uncentered columns">
	<option>None</option>
		{{range .Result.Jobs}}
			<option value="{{.URL}}">{{.Name}}</option>
		{{end}}
	</select>
</div>

<div class="row">
	<table class="small-9 small-centered large-uncentered columns">
		<thead>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Status</th>
				<th>By</th>
				<th>Updated At</th>
			</tr>
		</thead>
		<tbody>
			{{range .Result.QorJobs}}
				{{$job := .GetJob}}
				<tr>
					<td><a href="{{.URL}}">{{.Id}}</a></td>
					<td>{{with $job}}{{.Description}}{{end}}</td>
					<td>{{.Status}}</td>
					<td>{{.By}}</td>
					<td>{{.UpdatedAt}}</td>
				</tr>
			{{end}}
		</tbody>
	</table>
</div>