<form action="{{.Result.URL}}" method="POST" enctype="multipart/form-data">
  <!-- <input type="hidden" name="JobName" value=""> -->
  {{render_form .Result.Resource.Value new_metas}}
  <input value="Save" type="submit"/>
</form>