<style type="text/css">
  .log-panel {
    color: white;
    background: black;
    overflow: auto;
    height: 500px;
    padding: 5px 10px;
  }
</style>

<div class="row">
  <h3>{{.Result.JobName}}</h3>

  <div class="progress">
    <span class="meter" style="width:{{.Result.Progress}}%;">{{.Result.Progress}}%</span>
  </div>

  <ul class="button-group">
    <li>
      <form method="POST" action="{{.Result.URL}}/kill">
        <button type="submit" class="button">Kill</button>
      </form>
    </li>
    <li>
      <form method="POST" action="{{.Result.URL}}/stop">
        <button type="submit" class="button">Stop</button>
      </form>
    </li>
    <li><a class="button" href="#">Run Again</a></li>
    {{$job := .Result.GetJob}}
    {{if $job}}<li><a href="{{$job.URL}}" class="button">Run Another</a></li>{{end}}
  </ul>

  <label>Log Output</label>
  <div class="panel log-panel"><pre>{{.Result.GetLog}}</pre></div>
</div>