{{$context := .}}
<div class="qor-grid-container">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">{{t "qor_admin.publish.column" "Column"}}</div>
    <div class="mdl-cell mdl-cell--5-col">{{t "qor_admin.publish.draft" "Draft"}}</div>
    <div class="mdl-cell mdl-cell--5-col">{{t "qor_admin.publish.live" "Live"}}</div>
  </div>

  {{$production := .Result.Production}}
  {{$draft := .Result.Draft}}
  {{$has_production := not (is_new_record $production)}}
  {{$res := .Result.Resource}}

  {{range $meta := convert_sections_to_metas .Result.Resource (show_sections .Result.Resource)}}
    {{$draft_value := render_index_meta $draft $meta}}
    {{$production_value := render_index_meta $production $meta}}
    {{$diff := or (not $has_production) (not (equal $production_value $draft_value))}}

    <div class="mdl-grid{{if $diff}} is-changed{{end}}">
      <div class="mdl-cell mdl-cell--2-col">{{meta_label $meta}}</div>
      <div class="mdl-cell mdl-cell--5-col">{{$draft_value}}</div>
      <div class="mdl-cell mdl-cell--5-col">{{if $has_production}}{{$production_value}}{{end}}</div>
    </div>
  {{end}}
</div>
