<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
    <input class="mdl-textfield__input hidden" type="number" id="{{.InputId}}" name="{{.InputName}}" value="{{.Value}}" {{if not (has_update_permission .Meta)}}disabled{{end}}>

    <label class="mdl-textfield__label" for="{{.InputId}}">{{meta_label .Meta}}</label>
    <span>{{.Value}}</span>
  </div>
</div>
