<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">{{meta_label .Meta}}</label>
  <div class="qor-field__value">
    {{.Value}}
  </div>

  <div class="qor-field__block hidden">
    {{if .Meta.Resource}}
      <textarea class="qor-field__input" id="{{.InputId}}" data-toggle="qor.redactor" data-upload-url="{{url_for .Meta.Resource}}/upload" data-crop-url="{{url_for .Meta.Resource}}/crop" data-text="{&quot;title&quot;: &quot;{{t "Crop the image"}}&quot;, &quot;ok&quot;: &quot;{{t "OK"}}&quot;, &quot;cancel&quot;: &quot;{{t "Cancel"}}&quot;}" name="{{.InputName}}" rows="10" {{if not (has_update_permission .Meta)}}disabled{{end}}>{{if .Value}}{{.Value}}{{end}}</textarea>
    {{else}}
      <textarea class="qor-field__input" id="{{.InputId}}" data-toggle="qor.redactor" name="{{.InputName}}" rows="10" {{if not (has_update_permission .Meta)}}disabled{{end}}>{{if .Value}}{{.Value}}{{end}}</textarea>
    {{end}}
  </div>
</div>
