.qor-page__header {
  padding-right: 24px; }

.qor-button-container {
  float: right;
  padding-top: 12px;
  padding-bottom: 12px; }
  .qor-button-container > button {
    float: right;
    margin-left: 8px; }

.qor-table > tbody > tr.deleted,
.qor-table > tbody > tr > .deleted {
  background-color: #fce4ec; }
