<div class="grid-trigger-wrapper">
  <div class="wrapper clearfix">
    <section class="trigger-wrapper fl">
      <a class="trigger md md-view-headline cur" state="list" href="javascript:;"></a>
      <a class="trigger md md-view-module" state="grid" href="javascript:;"></a>
    </section>

    {{if get_scopes}}
    <section class="qor-label-container fl">
      {{range $scope := get_scopes}}
        <a class="qor-label label label-default" href="?scopes={{$scope}}">{{$scope}}</a>
      {{end}}
    </section>
    {{end}}

    {{if .Resource.SearchHandler}}
    <section class="search-wrapper fr">
      <form role="form">
        <i class="md md-search"></i>
        <input type="search" name="keyword" value="{{ .Context.Request.URL.Query.Get "keyword" }}">
        <!-- <i class="md md-close"></i> -->
      </form>
    </section>
    {{end}}
  </div>
</div>
