<div class="grid-trigger-wrapper">
  <div class="container clearfix">
    <section class="trigger-wrapper fl">
      <a class="trigger md md-view-headline cur" state="list" href="javascript:;"></a>
      <a class="trigger md md-view-module" state="grid" href="javascript:;"></a>
    </section>

    <section class="search-wrapper fr">
      <form action="" role="form">
        <i class="md md-search"></i>
        <input type="search">
        <!-- <i class="md md-close"></i> -->
      </form>
    </section>
  </div>
</div>
