<div class="section filter">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="inputEndDate">Date range</label>
      <div class="input-group qor-daterange">
        <label class="input-group-addon" for="inputDateRangeStart">From</label>
        <input type="text" class="form-control" id="inputDateRangeStart" name="startDate" placeholder="Start date...">
        <label class="input-group-addon" for="inputDateRangeEnd">To</label>
        <input type="text" class="form-control" id="inputDateRangeEnd" name="endDate" placeholder="End date...">
      </span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
