<nav class="pagination-wrapper">
  <ul class="pagination clearfix">
    {{range $index, $page := pagination}}
      {{if $page.IsPrevious}}
        <li>
          <a href="?page={{$page.Page}}" aria-label="Previous">
            <span class="md md-chevron-left" aria-hidden="true"></span>
          </a>
        </li>
      {{else if $page.IsNext}}
        <li>
          <a href="?page={{$page.Page}}" aria-label="Next">
            <span class="md md-chevron-right" aria-hidden="true"></span>
          </a>
        </li>
      {{else if $page.Current}}
        <li class="fl cur"><a href="?page={{$page.Page}}">{{$page.Page}}</a></li>
      {{else}}
        <li class="fl"><a href="?page={{$page.Page}}">{{$page.Page}}</a></li>
      {{end}}
    {{end}}
  </ul>
</nav>