{{$resource := .Resource}}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp qor-table qor-js-table">
  <thead>
    <tr>
      {{$order_by := .Context.Request.URL.Query.Get "order_by"}}
      {{$metas := convert_sections_to_metas $resource index_sections}}
      {{range $index, $meta := $metas}}
        {{$dbName := $meta.DBName}}
        {{$is_sorted := eq $order_by $dbName}}
        {{$is_desc_sorted := eq $order_by (print $dbName "_desc")}}
        <th class="mdl-data-table__cell--non-numeric {{if is_sortable_meta $meta}}{{if (or $is_sorted $is_desc_sorted)}}is-sorted{{end}}{{end}}" {{if is_sortable_meta $meta}}{{if $is_sorted}}data-order-by="{{$dbName}}_desc"{{else}}data-order-by="{{$dbName}}"{{end}}{{end}}>{{dt (printf "%v.attributes.%v" $resource.ToParam $meta.Label) $meta.Label}}</th>
      {{end}}
      <th class="mdl-data-table__cell--non-numeric qor-table__actions"></th>
    </tr>
  </thead>
  <tbody>
    {{range $result := .Result}}
      {{$primaryKey := primary_key_of $result}}
      <tr data-primary-key="{{$primaryKey}}" data-url="{{url_for $result $resource}}">
        {{range $meta := $metas}}
          <td class="mdl-data-table__cell--non-numeric" data-heading="{{rt $resource $meta.Label}}">
            {{$value := render_index_meta $result $meta}}
            <div class="qor-table__content" title="{{$value}}">{{$value}}</div>
          </td>
        {{end}}
        <td class="mdl-data-table__cell--non-numeric qor-table__actions">
          <button id="actions-for-{{$primaryKey}}" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="actions-for-{{$primaryKey}}">
            {{if has_update_permission $resource}}
            <li class="mdl-menu__item qor-button--edit" data-url="{{url_for $result $resource}}/edit">
              <i class="material-icons md-18">edit</i> {{t "Edit"}}
            </li>
            {{end}}
            {{if has_delete_permission $resource}}
            <li class="mdl-menu__item">
              <a class="mdl-button--icon qor-button--muted qor-button--delete" href="{{url_for $result $resource}}" data-method="DELETE" data-confirm="{{t "Are you sure?"}}">
                <i class="material-icons md-18">delete</i> {{t "Delete"}}
              </a>
            </li>
            {{end}}
          </ul>
        </td>
      </tr>
    {{end}}
  </tbody>
</table>
