<div class="grid-switcher-wrapper">
  
</div>

<div class="table clearfix">
  <div class="thead">
    <div class="thr-wrapper">
      <ul class="clearfix thr-inner">
        {{range $index, $meta := index_metas}}
          <li class="fl th col-{{$index}}" data-col="col-{{$index}}">
            <a href="javascript:;" title="{{$meta.Label}}">{{$meta.Label}}</a>
          </li>
        {{end}}
        <li class="fl th col-{{$index}}" data-col="col-act">
          <a href="javascript:;" title="{{$meta.Label}}">Actions</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tbody clearfix">
    <!-- <div class="table-loader invisible">
      <img src="/img/loader.gif">
      <strong>Loading…</strong>
    </div> -->

    <ol class="clearfix orders" data-scope="{{.Result}}">
      {{range $resource := .Result}}
      <li data-id="order-{{$result.Id}}" id="order-{{$result.Id}}" class="order-item transition clearfix tr" {{if or (eq .State.State "confirmed") (eq .State.State "cancelled")}}state="{{.State.State}}"{{end}} data-cleaning="{{.Cleaning}}" data-due="{{.Due}}" data-inout="{{.InOut}}">
        <div class="tr-inner clearfix">
          {{range $index, $meta := index_metas}}
            {{$text := value_of $resource $meta}}
            <span class="fl td col-{{$index}}">
              {{if $index}}
                {{$text}}
              {{else}}
                {{link_to $text $resource}}
              {{end}}
            </span>
          {{end}}

          <span class="fl td col-act">
            <form action="{{url_for $resource}}" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <a class="btn btn-xs btn-primary" href="{{url_for $resource}}">Edit</a>
              <button class="btn btn-xs btn-danger" data-confirm="Are you sure?" type="submit">Delete</button>
            </form>
          </span>
        </div>

      </li>
      {{end}}
    </ol>
  </div>
</div>