{{$validation_errors := get_validation_errors}}
{{if $validation_errors}}
  <ul id="errors">
  {{range $key, $errors := $validation_errors}}
    <li>
      <label for="{{$key}}">
        {{range $error := $errors}}
          <span>{{$error}}</span>
        {{end}}
      </label>
    </li>
  {{end}}
  </ul>
{{end}}
