{{$validation_errors := get_validation_errors}}
{{if $validation_errors}}
  <ul class="qor-error" id="errors">
  {{range $key, $errors := $validation_errors}}
    <li>
      <label for="{{$key}}">
        {{range $error := $errors}}
          <i class="material-icons">error</i>
          {{t $error}}
        {{end}}
      </label>
    </li>
  {{end}}
  </ul>
{{end}}
