{{$context := .}}

<div class="qor-list-container">
  <table class="qor-list">
    <thead>
      <tr>
        <th>{{t "Column"}}</th>
        <th>{{t "Live"}}</th>
        <th>{{t "Draft"}}</th>
      </tr>
    </thead>
    <tbody>
      {{$production := .Result.Production}}
      {{$draft := .Result.Draft}}
      {{$has_production := not (is_new_record $production)}}
      {{$res := .Result.Resource}}

      {{range $meta := show_metas .Result.Resource}}
        {{$draft_value := render_publish_meta $draft $meta $context}}
        {{$production_value := render_publish_meta $production $meta $context}}
        {{$diff := or (not $has_production) (not (equal $production_value $draft_value))}}

        <tr {{if $diff}}class="danger"{{end}}>
          <td>{{dt (printf "%v.attributes.%v" $res.ToParam $meta.Label) $meta.Label}}</td>
          {{if $has_production}}
            <td>
              <div class="qor-list-text">{{$production_value}}</div>
            </td>
          {{else}}
            <td></td>
          {{end}}
          <td>
            <div class="qor-list-text">{{$draft_value}}</div>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>
