{{$context := .}}
{{$resource := .Resource}}

<header class="qor-header">
  <h1 class="qor-title">{{t "{{.Name}}" $resource}}</h1>
  {{render "navbar"}}
</header>

<div class="qor-body qor-publish">
  <form class="qor-form" action="" method="POST">
  {{$actions := load_index_actions}}
  {{if $actions}}
    <header class="qor-subheader">
      {{$actions}}
    </header>
  {{end}}

    {{range $result := .Result}}
    {{$res := $result.Resource}}
    {{$records := $result.Value}}
    <h4 class="qor-list-heading">{{rt $res (plural $res.Name)}}</h4>
    <div class="qor-list-container">
      <table class="qor-list">
        <thead>
          <tr>
            <th><input class="qor-check-all" type="checkbox" title="{{t "Check All"}}"></th>
            {{range $meta := (index_metas $res)}}
              <th>{{dt (printf "%v.attributes.%v" $res.ToParam $meta.Label) $meta.Label}}</th>
            {{end}}
            <th class="qor-list-action">{{t "Actions"}}</th>
          </tr>
        </thead>

        <tbody>
          {{range $record := $records}}
            {{$key := publish_unique_key $res $record $context}}
            <tr id="{{$key}}" {{if $record.DeletedAt}}class="deleted"{{end}}>
              <td>
                <input type="checkbox" name="checked_ids[]" value="{{$key}}"/>
              </td>
              {{range $index, $meta := index_metas $res}}
                <td>
                  <div class="qor-list-text">{{render_publish_meta $record $meta $context}}</div>
                </td>
              {{end}}
              <td class="qor-list-action"><a class="qor-action-diff" data-url="{{url_for $resource}}/diff/{{$key}}" href="javascript:void(0);">{{t "View Changes"}}</a></td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    {{end}}
  </form>

  <!-- Modal -->
  <div class="modal fade qor-publish-modal" id="qorPublishModal" tabindex="-1" role="dialog" aria-labelledby="qorPublishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="qorPublishModalLabel">{{t "Changes"}}</h4>
        </div>
        <div class="modal-body"></div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{t "Close"}}</button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<footer class="qor-footer"></footer>
