{{$context := .}}
{{$resource := .Resource}}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{t "{{.Name}}" $resource}}</span>
      {{render "shared/navbar"}}
    </div>
  </header>
  <div class="mdl-layout__drawer">
    {{render "shared/sidebar"}}
  </div>
  <main class="mdl-layout__content qor-page">
    <form method="POST">
      {{$actions := load_index_actions}}
      {{if $actions}}
        <div class="qor-page__header">
          {{$actions}}
        </div>
      {{end}}
      <div class="qor-page__body">
        {{range $result := .Result}}
        {{$res := $result.Resource}}
        {{$records := $result.Value}}
        <div class="qor-section">
          <div class="qor-section__header">
            <h4 class="qor-section-title">{{rt $res (plural $res.Name)}}</h4>
          </div>
          <div class="qor-section__body qor-table-container">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp qor-table">
              <thead>
                <tr>
                  <th>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" title="{{t "Check All"}}">
                      <input type="checkbox" class="mdl-checkbox__input qor-action__check-all">
                    </label>
                  </th>
                  {{range $meta := (index_metas $res)}}
                  <th class="mdl-data-table__cell--non-numeric">{{dt (printf "%v.attributes.%v" $res.ToParam $meta.Label) $meta.Label}}</th>
                  {{end}}
                  <th class="mdl-data-table__cell--non-numeric qor-table__actions">{{t "Actions"}}</th>
                </tr>
              </thead>
              <tbody>
                {{range $record := $records}}
                {{$key := publish_unique_key $res $record $context}}
                <tr{{if $record.DeletedAt}} class="is-deleted"{{end}} data-primary-key="{{$key}}">
                  <td>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" class="mdl-checkbox__input" name="checked_ids[]" value="{{$key}}">
                    </label>
                  </td>
                  {{range $index, $meta := index_metas $res}}
                  <td class="mdl-data-table__cell--non-numeric">
                    <div class="qor-table__content">{{render_publish_meta $record $meta $context}}</div>
                  </td>
                  {{end}}
                  <td class="mdl-data-table__cell--non-numeric qor-table__actions">
                    <a class="qor-action__view" data-url="{{url_for $resource}}/diff/{{$key}}" href="javascript:void(0);">{{t "View Changes"}}</a>
                  </td>
                </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        </div>
        {{end}}
      </div>
      <div class="qor-page__footer"></div>
    </form>
  </main>
</div>
