<label class="label" for="{{.InputId}}">{{.Label}}</label>
<fieldset>
  {{if .Value}}
  {{range $index, $value := .Value }}
    {{render_form $value (allowed_metas .Meta.Resource) $index}}
  {{end}}
  {{end}}

  {{render_form .Meta.Resource.Model (allowed_metas .Meta.Resource) (len .Value)}}
</fieldset>
