<label class="label" for="{{.InputId}}">{{.Label}}</label>
{{$meta := .Meta}}
{{if .Value}}
    {{range $index, $value := .Value }}
      <fieldset>
          {{render_form $value (EditMetas $meta.Resource) $index}}
      </fieldset>
    {{end}}
{{end}}

<fieldset>
  {{render_form $meta.Resource.GetResource.Value (NewMetas $meta.Resource) (len .Value)}}
</fieldset>
