<html>
   <body>
     <h1>{{.title}}</h1>
     {{range $book := .books}}
        <a href="/book/{{$book.ID}}">{{$book.Title}}</a>
        <img src="{{$book.CoverImage}}" />
     {{end}}
   </body>
</html>
