<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/lib/material-design-iconic-font.min.css">
    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/component.css">
    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/app.css">
    <style type="text/css">
      body {
        padding:50px;
      }

      h1 {
        margin-bottom:20px;
      }

      div.book img {
        float: left;
        margin-right:20px;
      }

      div.book {
        width:500px;
        border-bottom: 1px solid black;
      }

      div.book a.title_link {
        display: block;
        font-size:20;
        margin-bottom:10px;
      }

      div.book p.date {
        font-size:10px;
      }

      div.book p.price {
        float:right;
        font-size:15px;
        font-variant:italic;
        clear:both;
      }
    </style>
  </head>
  <body>
    <h1>{{.title}}</h1>
    {{range $book := .books}}
    <div class="book">
       <img src="{{$book.CoverImage}}" />
       <a href="/book/{{$book.ID}}" class="title_link">{{$book.Title}}</a>
       <p class="date">{{$book.ReleaseDate}}</p>
       <p class="description">{{$book.Synopsis}}</p>
       <p class="price">¥{{$book.Price}}</p>
    </div>
    {{end}}
  </body>
</html>
