<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/material.min.css">
    <link href="/assets/css/bookstore.css" rel="stylesheet" />
  </head>
  <body>
    <h1>{{call .t "frontend.books.List of Books"}}</h1>
    <div class="booklist">
      {{range $book := .books}}
      <div class="book">
        <a href="/books/{{$book.ID}}" class="title_link">{{$book.Title}}</a>
        {{range $author := $book.Authors}}
          {{$author.Name}}
        {{end}}
        <!-- p class="date">{{$book.ReleaseDate}}</p -->
        <p class="price">¥{{$book.Price}}</p>
      </div>
      {{end}}
    </div>
  </body>
</html>
