{{$values := (raw_value_of .ResourceValue .Meta)}}
{{range $index, $value := $values}}
  {{$url := url_for $value}}
  {{if $url}}
    {{link_to (stringify $value) $url}}
  {{else}}
    {{stringify $value}}
  {{end}}
{{end}}
