{{define "header"}}
<header style="margin-bottom:20px">
  {{link_to "DashBoard" .Admin}}<br/>

	Models:
  {{range $name, $resource := .Admin.Resources}}
    {{link_to $name $resource}}
  {{end}}
</header>
{{end}}
