{{define "header"}}
<header style="margin-bottom:20px">
  {{.LinkTo "DashBoard" .Admin}}<br/>

	Models:
  {{range $name, $resource := .Admin.Resources}}
    {{.LinkTo $name $resource}}
  {{end}}
</header>
{{end}}
