{{define "content"}}
{{range $meta := allowed_metas}}
{{$meta.Name}}
{{end}}
<br/>
{{range $resource := .Result}}
{{range $index, $meta := allowed_metas}}
{{$text := value_of $resource $meta}}
{{if $index}}
{{$text}}
{{else}}
{{link_to $text $resource}}
{{end}}
{{end}}
<br/>
{{end}}
{{end}}