<!DOCTYPE html>
<html>
  <!--
  ,-----.    ,-----.  ,------.
  '  .-.  '  '  .-.  ' |  .--. '
  |  | |  |  |  | |  | |  '--'.'
  '  '-'  '-.'  '-'  ' |  |\  \
  `-----'--' `-----'  `--' '--'
  ENTERPRISE CONTENT MANAGEMENT SYSTEM
  -->

  <head>
    <title>Qor Admin</title>
  </head>

  <body>
    {{template "header" .}}

    {{template "content" .}}

    {{template "footer" .}}
  </body>
</html>
