{{$result := .Result}}
<form action="{{url_for .Resource}}" method="POST" enctype="multipart/form-data">
  {{render_form .Result (allowed_metas .Resource)}}
  <input value="Save" type="submit"/>
</form>
