<div class="qor-sorting-action">
  {{if (eq (.Context.Request.URL.Query.Get "sorting") "true")}}
    <a class="qor-sorting-exit btn btn-sm btn-default" href="{{patch_current_url "sorting" ""}}">{{t "Exit Sorting Mode"}}</a>
  {{else}}
    <a class="qor-sorting-enter btn btn-sm btn-primary" href="{{patch_current_url "sorting" "true"}}">{{t "Sorting Mode"}}</a>
  {{end}}
</div>
