<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{t (plural .Resource.Name)}}</span>
      {{render "shared/navbar"}}
    </div>
  </header>
  <div class="mdl-layout__drawer">
    {{render "shared/sidebar"}}
  </div>
  <main class="mdl-layout__content qor-page qor-i18n">
    {{$primary_locale := (i18n_primary_locale .)}}
    {{$editing_locale := (i18n_editing_locale .)}}
    {{$actions := load_index_actions}}

    <div class="qor-page__header">
      <div class="qor-language-container">
        <div class="qor-language">
          <label class="qor-language__label" for="sourceLanguages">{{t "Source"}}:</label>
          <select class="qor-language__select qor-js-language" id="sourceLanguages" data-toggle="qor.selector" name="primary_locale">
            {{range $locale := (i18n_viewable_locales .)}}
              <option value="{{$locale}}"{{if (eq $locale $primary_locale)}} selected{{end}}>{{t $locale}}</option>
            {{end}}
          </select>
        </div>
        <div class="qor-language">
          <label class="qor-language__label" for="targetLanguages">{{t "Target"}}:</label>
          <select class="qor-language__select qor-js-language" id="targetLanguages" data-toggle="qor.selector" name="to_locale">
            {{range $locale := (i18n_editable_locales .)}}
              <option value="{{$locale}}"{{if (eq $locale $editing_locale)}} selected{{end}}>{{t $locale}}</option>
            {{end}}
          </select>
        </div>
      </div>
      <div class="qor-button-container">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect qor-button--small i18n-btn-bulk-edit" data-toggle="bulk.qor.i18n" type="button">{{t "Bulk Edit"}}</button>
        <button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-button--small i18n-btn-exit hidden" data-toggle="exit.qor.i18n" type="button">{{t "Exit Bulk Edit"}}</button>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect qor-button--small i18n-btn-copy-all hidden" data-toggle="copyall.qor.i18n" type="button">{{t "Copy All"}}</button>
      </div>

      {{$actions}}

      {{render "searchbar"}}
    </div>

    <div class="qor-page__body i18n-body">
      <ul class="i18n-list">
        {{range $key := i18n_available_keys .}}
        <li>
          <header>
            <button class="mdl-button mdl-js-button mdl-button--icon qor-button--muted i18n-btn-edit" data-toggle="edit.qor.i18n" type="button">
              <i class="material-icons md-18">edit</i>
            </button>
          </header>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet">
              <p class="i18n-label-source">{{ $key }}</p>
              <p class="i18n-translation-source">{{lt $primary_locale $key true}}</p>
            </div>

            <div class="mdl-cell mdl-cell--1-col mdl-cell--12-col-tablet">
              <button class="i18n-btn-copy" data-toggle="copy.qor.i18n" type="button">{{t "Copy"}}</button>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
              <p class="i18n-label-target">{{t "Translation"}}</p>
              <p class="i18n-translation-target">{{lt $editing_locale $key false}}</p>
              <form class="qor-form i18n-translation-editor">
                <input type="hidden" name="Locale" value="{{$editing_locale}}">
                <textarea class="hidden" name="Key">{{ $key }}</textarea>
                <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--condensed">
                  <textarea class="mdl-textfield__input qor-js-autoheight qor-js-translator" id="targetTranslation"name="Value" rows="1">{{lt $editing_locale $key false}}</textarea>
                  <label for="targetTranslation" class="mdl-textfield__label"></label>
                </div>
                <p class="i18n-help-block"><i class="material-icons md-14">check_circle</i> {{t "Saved"}}</p>
              </form>
            </div>
          </div>

          <footer>
            <div class="i18n-btn-group">
              <button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-button--small" data-toggle="cancel.qor.i18n" type="button">{{t "Cancel Edit"}}</button>
              <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect qor-button--small" data-toggle="save.qor.i18n" type="button">{{t "Save"}}</button>
            </div>
          </footer>
        </li>
        {{end}}
      </ul>
      {{render "index/pagination"}}
    </div>
    <div class="qor-page__footer"></div>
  </main>
</div>
