{{render "index/filter"}}

<div class="table-wrapper wrapper">
<table state="list">
  <thead class="thead">
    <tr>
      <th class="th col-act" data-col="col-act">
        Original Text
      </th>
      <th class="th col-act" data-col="col-act">
        Translated Text
      </th>
      <th class="th col-act" data-col="col-act">
      </th>
    </tr>
  </thead>
  <tbody class="tbody">
    {{range $locale, $resource := .Result.Translations}}
      {{$locale}}
    {{end}}
  </tbody>
</table>
</div>

{{render "index/pagination"}}
