{{$actions := load_actions "edit"}}
{{if $actions}}
  <div class="qor-page__header">{{$actions}}</div>
{{end}}

<div class="qor-page__body qor-page__edit">

  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <form class="qor-form" action="{{url_for .Result .Resource}}" method="POST" enctype="multipart/form-data">
      <input name="_method" value="PUT" type="hidden">

      {{render_form .Result edit_sections}}

      <div class="qor-form__actions">
        <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "qor_admin.form.save_changes" "Save Changes"}}</button>
        <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:history.back();">{{t "qor_admin.form.cancel_edit" "Cancel Edit"}}</a>
      </div>
    </form>
  </div>
</div>
