{{define "footer"}}
  <footer class="footer">
    <div class="container">
      <p class="pull-left copyright">QOR CMS <sup>TM</sup> ENTERPRISE CONTENT MANAGEMENT SYSTEM</p>
      <ul class="pull-right list-inline bottomlinks">
        <li><a href="#top">Back to top</a></li>
      </ul>
    </div>
  </footer>
{{end}}