{{define "footer"}}
  <footer class="footer">
    <div class="container">
      <p class="pull-left copyright">QOR CMS <sup>TM</sup> ENTERPRISE CONTENT MANAGEMENT SYSTEM</p>
      <ul class="pull-right list-inline">
        <!-- <li><a href="#">Github</a></li>
        <li><a href="#">Issues</a></li>
        <li><a href="#">Release</a></li>
        <li><a href="https://theplant.jp">About</a></li>
        <li><a href="#">License</a></li> -->
        <li><a href="#top">Back to top</a></li>
      </ul>
    </div>
  </footer>
{{end}}