{{define "footer"}}
  <footer class="footer">
    <section class="wrapper clearfix">
      <div class="fl copyright"><span>QOR CMS</span><sup>™</sup><small>ENTERPRISE CONTENT MANAGEMENT SYSTEM</small></div>
    </section>
  </footer>
{{end}}
