{{define "header"}}
<header class="header" id="top">
  <div class="container clearfix">
    <a class="brand fl" href="/">QOR</a>

    <div class="navbar fr">
      <ul class="nav clearfix">
        {{render "menus" menus}}
      </ul>
    </div>
  </div>
</header>
{{end}}