<!DOCTYPE html>
<html>
  <!--
  ,-----.    ,-----.  ,------.
  '  .-.  '  '  .-.  ' |  .--. '
  |  | |  |  |  | |  | |  '--'.'
  '  '-'  '-.'  '-'  ' |  |\  \
  `-----'--' `-----'  `--' '--'
  ENTERPRISE CONTENT MANAGEMENT SYSTEM
  -->

  <head>
    <title>Qor Admin</title>
    {{stylesheet_tag "foundation.min"}}
    {{stylesheet_tag "cropper.min"}}
    {{stylesheet_tag "redactor"}}
    {{stylesheet_tag "main"}}

    {{javascript_tag "jquery-2.1.3.min"}}
    {{javascript_tag "foundation.min"}}
    {{javascript_tag "cropper.min"}}
    {{javascript_tag "redactor"}}
    {{javascript_tag "redactor-clipper"}}
    {{javascript_tag "fugue"}}
    {{javascript_tag "clipper"}}
    {{javascript_tag "application"}}
  </head>

  <body>
    {{template "header" .}}

    {{.Content}}

    {{template "footer" .}}
  </body>
</html>
