<!DOCTYPE html>
<html lang="">
  <!--
  ,-----.    ,-----.  ,------.
  '  .-.  '  '  .-.  ' |  .--. '
  |  | |  |  |  | |  | |  '--'.'
  '  '-'  '-.'  '-'  ' |  |\  \
  `-----'--' `-----'  `--' '--'
  ENTERPRISE CONTENT MANAGEMENT SYSTEM
  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Qor Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="/img/favicon.ico">
    <link type="image/x-icon" rel="icon" href="/img/favicon.ico">

    <!-- Stylesheets -->
    {{stylesheet_tag "material.min"}}
    {{stylesheet_tag "cropper.min"}}
    {{stylesheet_tag "chosen.min"}}
    {{stylesheet_tag "redactor"}}
    {{stylesheet_tag "qor"}}
    {{stylesheet_tag "app"}}
    {{load_theme_stylesheets}}
    {{javascript_tag "jquery.min"}}
  </head>
  <body class="{{if qor_theme_class}}{{qor_theme_class}}{{end}} qor-theme-slideout">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <a class="visuallyhidden" href="#content" tabindex="1">Skip to content</a>

    {{.Content}}

    <!-- JavaScripts -->
    {{javascript_tag "material.min"}}
    {{javascript_tag "redactor.min"}}
    {{javascript_tag "cropper.min"}}
    {{javascript_tag "chosen.jquery.min"}}
    {{javascript_tag "qor"}}
    {{javascript_tag "app"}}
    {{load_theme_javascripts}}
  </body>
</html>
