<!DOCTYPE html>
<html>
  <!--
  ,-----.    ,-----.  ,------.
  '  .-.  '  '  .-.  ' |  .--. '
  |  | |  |  |  | |  | |  '--'.'
  '  '-'  '-.'  '-'  ' |  |\  \
  `-----'--' `-----'  `--' '--'
  ENTERPRISE CONTENT MANAGEMENT SYSTEM
  -->

  <head>
    <title>Qor Admin</title>
    <!-- Stylesheets -->
    {{stylesheet_tag "lib/bootstrap.min"}}
    {{stylesheet_tag "lib/redactor.min"}}
    {{stylesheet_tag "lib/cropper.min"}}
    {{stylesheet_tag "main"}}
  </head>

  <body>
    {{template "header" .}}

    <div class="main user">
      <div class="container">
        {{.Content}}
      </div>
    </div>

    {{template "footer" .}}

    <!-- JavaScripts -->
    {{javascript_tag "lib/jquery.min"}}
    {{javascript_tag "lib/bootstrap.min"}}
    {{javascript_tag "lib/redactor.min"}}
    {{javascript_tag "lib/cropper.min"}}
    {{javascript_tag "main"}}
  </body>
</html>
