{{range .Result}}
  {{if .SubMenus}}
    <li class="dropdown" role="presentation">
      <a class="dropdown-toggle" href="{{.Link}}" aria-expanded="false" role="button">
        {{.Name}} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        {{render "menus" .SubMenus}}
      </ul>
    </li>
  {{else}}
    <li role="presentation">
      {{link_to .Name .Link}}
    </li>
  {{end}}
{{end}}
