{{range .Result}}
  {{if .GetSubMenus}}
    <li class="dropdown item" role="presentation">
      <a class="dropdown-toggle" href="{{.Link}}" aria-expanded="false" role="button">
        {{t .Name}} <span class="md md-expand-more"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        {{render "menus" .GetSubMenus}}
      </ul>
    </li>
  {{else}}
    <li class="item" role="presentation">
      {{link_to (t .Name) .Link}}
    </li>
  {{end}}
{{end}}
