{{$actions := load_actions "show"}}
{{if $actions}}
<div class="qor-page__header">
  {{$actions}}
</div>
{{end}}

<div class="qor-page__body qor-page__show">

  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    {{render_show .Result show_sections}}

    {{if has_update_permission .Resource}}
      <button class="mdl-button mdl-button--fab mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--edit" data-url="{{url_for .Result .Resource}}/edit">
        <i class="material-icons">edit</i>
      </button>
    {{end}}
  </div>
</div>
