<div class="qor-sidebar">
  <div class="sidebar-header">
    {{raw (dt "logo" "<a href=\"{{.Prefix}}\">QOR</a><a href=\"/\" target=\"_blank\">Vew Site <i class=\"md md-14\" aria-hidden=\"true\">open_in_new</i></a>" .Admin.GetRouter)}}
  </div>
  <div class="sidebar-body">
    <div class="qor-menu-group">
      {{render "menu" menus}}
    </div>
  </div>
  <div class="sidebar-footer">
    {{raw (dt "powered_by" "Powered by <a href=\"http://getqor.com\" target=\"_blank\">QOR</a>")}}
  </div>
</div>
