<article class="article">
  <div class="wrapper">
    <div class="translation-wrapper">
      <form action="" method="POST">

      <section class="translation-header clearfix">
        <div class="col-md-6">
          <div class="dropdown select origin">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="selected">English</span>
              <span class="md md-expand-more"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a class="dropdown-option" data-value="EN" role="menuitem" tabindex="-1" href="javascript:;">English</a></li>
              <li role="presentation"><a class="dropdown-option" data-value="JA" role="menuitem" tabindex="-1" href="javascript:;">Japanese</a></li>
              <li role="presentation"><a class="dropdown-option" data-value="ZH" role="menuitem" tabindex="-1" href="javascript:;">Chinese</a></li>
            </ul>
            <input class="selectedInput" type="hidden" name="OriginLanguage">
          </div>
        </div>
        <div class="col-md-6">
          <div class="dropdown select target">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="selected">English</span>
              <span class="md md-expand-more"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a class="dropdown-option" data-value="EN" role="menuitem" tabindex="-1" href="javascript:;">English</a></li>
              <li role="presentation"><a class="dropdown-option" data-value="JA" role="menuitem" tabindex="-1" href="javascript:;">Japanese</a></li>
              <li role="presentation"><a class="dropdown-option" data-value="ZH" role="menuitem" tabindex="-1" href="javascript:;">Chinese</a></li>
            </ul>
            <input class="selectedInput" type="hidden" name="TargetLanguage">
          </div>
        </div>
      </section>
      <ul class="translation-body clearfix">
        <li class="translation-entry clearfix">
          <div class="col-md-6">
            <div class="lang-origin">
              Sample text
            </div>
          </div>
          <div class="col-md-6">
            <div class="lang-target">
              <input type="hidden" name="TranslationEntryId">
              <textarea name=""></textarea>
            </div>
          </div>
        </li>
      </ul>

      <section class="form-group btn-wrapper clearfix">
        <button class="btn btn-primary pull-right" type="submit">Apply translations</button>
        <button class="btn btn-danger pull-right" data-confirm="Are you sure?">Discard changes</button>
      </section>
      </form>
    </div>
  </div>
</article>
