<div class="qor-collection-group collection-edit">
  <label for="{{.InputId}}">{{dt (printf "%v.attributes.%v" .Base.ToParam .Label) .Label}}</label>
  {{$meta := .Meta}}
  {{if .Value}}
    {{range $index, $value := .Value }}
      <fieldset class="qor-collection">
        {{if has_delete_permission $meta}}
          <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--icon qor-collection-del" type="button">
            <i class="material-icons">delete</i>
          </button>
        {{end}}
        {{render_form $value (edit_metas $meta.Resource) $index}}
      </fieldset>
    {{end}}
  {{end}}

  {{if has_create_permission .Meta}}
    <fieldset class="qor-collection qor-collection-new">
      <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--icon qor-collection-del" type="button">
        <i class="material-icons">delete</i>
      </button>
      {{render_form $meta.Resource.GetResource.Value (new_metas $meta.Resource) (len .Value)}}
    </fieldset>

    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored qor-collection-add" type="button">
      <i class="material-icons">add_circle</i>
    </button>
  {{end}}
</div>
