<div class="qor-field collection-edit qor-fieldset-container">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__block">
    {{$meta := .Meta}}
    {{if .Value}}
      {{range $index, $value := .Value }}
        <fieldset class="qor-fieldset">
          {{if has_delete_permission $meta}}
            <button class="mdl-button qor-button--muted mdl-button--icon mdl-js-button qor-fieldset__delete" type="button">
              <i class="material-icons md-18">delete</i>
            </button>
          {{end}}
          {{render_form $value (edit_sections $meta.Resource) $index}}
        </fieldset>
      {{end}}
    {{end}}

    {{if has_create_permission .Meta}}
      <fieldset class="qor-fieldset qor-fieldset--new">
        <button class="mdl-button qor-button--muted mdl-button--icon mdl-js-button qor-fieldset__delete" type="button">
          <i class="material-icons md-18">delete</i>
        </button>
        {{render_form $meta.Resource.GetResource.Value (new_sections $meta.Resource) (len .Value)}}
      </fieldset>

      <button class="mdl-button mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-fieldset__add" type="button">
        <i class="material-icons">add</i>
      </button>
    {{end}}
  </div>
</div>
