<div class="form-group">
  <label for="{{.InputId}}">{{rt .Base .Label }}</label>
  <input type="text" class="form-control" id="{{.InputId}}" data-toggle="qor.datepicker" name="{{.InputName}}"
    {{if (and .Value (not .Value.IsZero))}}value="{{.Value.Format "2006-01-02"}}"{{end}}
    {{if not (has_update_permission .Meta)}}DISABLED{{end}}>
</div>
