<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
    <input class="mdl-textfield__input" type="text" id="{{.InputId}}" data-field="date" readonly name="{{.InputName}}" {{if .Value}}{{if not .Value.IsZero}}value="{{.Value.Format "2006-01-02"}}"{{end}}{{end}}
      {{if not (has_update_permission .Meta)}} disabled{{end}}>
    <label class="mdl-textfield__label" for="{{.InputId}}">{{dt (printf "%v.attributes.%v" .BaseResource.ToParam .Label) .Label}}</label>
  </div>
</div>

