{{$value := .Value}}

<div>
  <label for="{{.InputId}}">{{dt (printf "%v.attributes.%v" .Base.ToParam .Label) .Label}}</label>
  <div class="qor-file-action">
    <label class="mdl-button mdl-js-button mdl-button--colored" {{if not (has_update_permission .Meta)}}DISABLED{{end}}>
      <input class="visuallyhidden qor-file-input" id="{{.InputId}}" name="{{.InputName}}" type="file">
      {{t "Choose File"}}
    </label>
  </div>

  <textarea class="qor-file-options hidden" name="{{.InputName}}" aria-hidden="true">
  {{if $value}}
    {{$value.Value}}
  {{end}}
  </textarea>

  <div class="qor-file-list">
    {{if $value.GetSizes}}
      <ul>
      {{range $key, $v := $value.GetSizes}}
        {{if not (is_included $key "@")}}
        <li>
          <img src="{{$value.URL $key}}" data-original-url="{{$value.URL "original"}}" data-size-name="{{$key}}" data-size-resolution="{{marshal $v}}">
          <span>{{$key}} ({{$v.Width}}&times;{{$v.Height}} px)</span>
        </li>
        {{end}}
      {{end}}
      </ul>
    {{else if $value.IsImage}}
      <ul>
        <li>
          <img src="{{$value.URL}}" data-original-url="{{$value.URL "original"}}" data-size-name="original" alt="{{$value.GetFileName}}">
        </li>
      </ul>
    {{else if $value.URL}}
      <span>{{$value.GetFileName}} <a href="{{$value.URL}}">{{t "Download"}}</a></span>
    {{end}}
  </div>
</div>
