<div class="qor-field">
  {{$current_values := (raw_value_of .ResourceValue .Meta)}}
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__show">
    {{range $value := $current_values}}
      {{stringify $value}}
    {{end}}
  </div>

  <div class="qor-field__edit qor-field__block">
    <select class="qor-field__input" id="{{.InputId}}" data-toggle="qor.chooser" data-placeholder="{{t "qor_admin.form.select_some_options" "Select some Options"}}" name="{{.InputName}}" multiple {{if not (has_update_permission .Meta)}}disabled{{end}}>
      {{range $values := .CollectionValue}}
        {{if (is_included $current_values (index $values 0))}}
          <option value="{{index $values 0}}" selected>{{index $values 1}}</option>
        {{else}}
          <option value="{{index $values 0}}">{{index $values 1}}</option>
        {{end}}
      {{end}}
    </select>
    <input type="hidden" name="{{.InputName}}" value="">
  </div>
</div>
