<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__show">
    {{.Value}}
  </div>

  <div class="qor-field__block qor-field__edit">
    <select class="qor-field__input" id="{{.InputId}}" data-toggle="qor.chooser" data-placeholder="{{t "qor_admin.form.select_an_option" "Select an Option"}}" name="{{.InputName}}" {{if not (has_update_permission .Meta)}}disabled{{end}}>
      {{$current_values := (raw_value_of .ResourceValue .Meta)}}
      {{range $values := .CollectionValue}}
        {{if (is_included $current_values (index $values 0))}}
          <option value="{{index $values 0}}" selected>{{index $values 1}}</option>
        {{else}}
          <option value="{{index $values 0}}">{{index $values 1}}</option>
        {{end}}
      {{end}}
    </select>
  </div>
</div>
