{{if .Value}}
  {{if .Value.Resource}}
  <div class="promotion-rules-argument qor-field qor-fieldset-container">
    <div class="qor-field__block">
      <fieldset id="{{.InputId}}">
        {{render_form .Value.Value (edit_metas .Value.Resource)}}
      </fieldset>
    </div>
  </div>
  {{end}}
{{end}}
