<div class="signle-edit qor-field">
  <label class="qor-field__label" for="{{.InputId}}">{{dt (printf "%v.attributes.%v" .Base.ToParam .Label) .Label}}</label>
  <div class="qor-field__block">
    {{if (or (and (is_new_record .Value) (has_create_permission .Meta)) (has_update_permission .Meta))}}
      <fieldset id="{{.InputId}}">
        {{render_form .Value (edit_metas .Meta.Resource)}}
      </fieldset>
    {{end}}
  </div>
</div>
