<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="{{.InputId}}">
      {{meta_label .Meta}}
    </label>

    <div class="qor-field__show">
      {{.Value}}
    </div>

    <div class="qor-field__edit">
      <input class="mdl-textfield__input" type="text" id="{{.InputId}}" name="{{.InputName}}" value="{{.Value}}" {{if not (has_update_permission .Meta)}}disabled{{end}}>
    </div>
  </div>
</div>
