<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield qor-textfield--static-label">
    <textarea id="{{.InputId}}" class="mdl-textfield__input" name="{{.InputName}}" rows="3" {{if not (has_update_permission .Meta)}}disabled{{end}}>{{if .Value}}{{.Value}}{{end}}</textarea>
    <label class="mdl-textfield__label" for="{{.InputId}}">{{dt (printf "%v.attributes.%v" .Base.ToParam .Label) .Label}}</label>
  </div>
</div>
