<div class="qor-actions float-right">
  <button type="submit" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-action--button" data-confirm="{{t "Are you sure?"}}" name="publish_type" value="discard">{{t "Discard"}}</button>
  <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect qor-action--button" data-confirm="{{t "Are you sure?"}}" name="publish_type" value="publish">{{t "Publish"}}</button>
</div>
