<div class="qor-button-container">
  <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect qor-button--small" data-confirm="{{t "Are you sure?"}}" name="publish_type" value="publish">{{t "Publish"}}</button>
  <button type="submit" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-button--small" data-confirm="{{t "Are you sure?"}}" name="publish_type" value="discard">{{t "Discard"}}</button>
</div>
