<div class="qor-actions float-right">
  <button type="submit" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-action--button" data-confirm="{{t "qor_admin.publish.are_you_sure" "Are you sure?"}}" name="publish_type" value="discard">{{t "qor_admin.publish.discard" "Discard"}}</button>
  <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect qor-action--button" data-confirm="{{t "qor_admin.publish.are_you_sure" "Are you sure?"}}" name="publish_type" value="publish">{{t "qor_admin.publish.publish" "Publish"}}</button>
</div>
