{{range $flash := flashes}}
  <div class="qor-alert qor-alert--{{$flash.Type}}" {{if (eq $flash.Type "success")}}data-dismissible="true"{{end}} role="alert" data-type="{{$flash.Type}}">
    <button type="button" class="mdl-button mdl-button--icon" data-dismiss="alert">
      <i class="material-icons">close</i>
    </button>
    <span class="qor-alert-message">
    {{$flash.Message}}
    </span>
  </div>
{{end}}
