<ul class="qor-menu">
  {{range .Result}}
    {{if .SubMenus}}
      <li qor-icon-name="{{.Name}}" {{if .Active}}class="active"{{end}}>
        <a href="{{if .Link}}{{.Link}}{{else}}javascript:void(0);{{end}}">{{t (printf "qor_admin.menus.%v" .Name) .Name}}</a>
        {{render "shared/menu" .SubMenus}}
      </li>
    {{else}}
      <li qor-icon-name="{{.Name}}" {{if .Active}}class="active"{{end}}>
        {{link_to (t (printf "qor_admin.menus.%v" .Name) .Name) .Link}}
      </li>
    {{end}}
  {{end}}
</ul>
