<div class="qor-layout__sidebar">
  <div class="sidebar-header">
    {{t "qor_admin.layout.logo" "<a href=\"{{.Prefix}}\"><span class=\"visuallyhidden\">QOR</span></a><a href=\"/\" target=\"_blank\">View Site <i class=\"material-icons md-14\" aria-hidden=\"true\">open_in_new</i></a>" .Admin.GetRouter}}
  </div>
  <div class="sidebar-body">
    <div class="qor-menu-container">
      {{if .Admin.EnabledSearchCenter}}
        <ul class="qor-menu">
          <li qor-icon-name="Search">
            <a href="{{search_center_path}}">{{t "qor_admin.layout.Search" "Search" }}</a>
          </li>
        </ul>
      {{end}}
      {{render "shared/menu" get_menus}}
    </div>
  </div>
  <div class="sidebar-footer">
    {{t "qor_admin.layout.powered_by" "Powered by <a href=\"http://getqor.com\" target=\"_blank\">QOR</a>"}}
  </div>
</div>
