<header class="qor-header">
  <h1 class="qor-title">{{rt .Resource (plural .Resource.Name)}}</h1>
  {{render "navbar"}}
</header>

<div class="qor-body">
  <header class="qor-subheader">
    {{load_index_actions}}
  </header>

  <div class="qor-list-container">
    {{render "index/table"}}

    {{if has_create_permission .Resource}}
      <a class="qor-action-new" href="{{new_resource_path .Resource}}">{{t "New"}}</a>
    {{end}}
  </div>

  {{render "index/pagination"}}
</div>

<footer class="qor-footer"></footer>
