{{if .CurrentUser}}
  <div class="qor-navbar">
    <p class="navbar-text">{{t "Logged in as {{$1}}" .CurrentUser.DisplayName}}</p>

    <ul class="navbar-menu">
      <li>
        <a href="{{logout_url}}"><i class="material-icons">exit_to_app</i></a>
      </li>
    </ul>
  </div>
{{end}}
