{{if .Resource.SearchHandler}}
  {{ $keyword := .Context.Request.URL.Query.Get "keyword" }}
  <div class="qor-search-container">
    <form class="qor-search" role="form">
      {{range $scope := (index .Context.Request.URL.Query "scopes")}}
        <input name="scopes" value="{{ $scope }}" type="hidden">
      {{end}}

      <label class="qor-search-label" for="inputSearch"><i class="material-icons">search</i></label>
      <input class="qor-search-input form-control{{if $keyword }} focus{{end}}" id="inputSearch" type="search" name="keyword" value="{{ $keyword }}" placeholder="{{t "Search"}}">
      <button class="qor-search-clear" type="button"><span class="material-icons">clear</span></button>
    </form>
  </div>
{{end}}
