<div class="qor-navbar">
  <h1 class="qor-title">{{t "Edit {{.Name}}" .Resource}}</h1>
  {{render "toolbar"}}
</div>

{{range $flash := flashes}}
  <div class="qor-alert qor-alert-{{$flash.Type}}" data-dismissible="true" role="alert">
    <button type="button" class="md md-18" data-dismiss="alert">close</button>
    {{$flash.Message}}
  </div>
{{end}}

<div class="qor-form-container">
  <form class="qor-form" action="{{url_for .Result}}" method="POST" enctype="multipart/form-data">
    {{render_form .Result edit_metas}}
    <div class="qor-btn-group">
      <button class="btn btn-primary qor-action-save" type="submit">{{t "Save"}}</button>
      <a class="btn btn-default qor-action-cancel" href="javascript:history.back();">{{t "Cancel"}}</a>
    </div>
  </form>
</div>
