{{$scopes := get_scopes}}
{{if $scopes}}
  <div class="qor-filter">
    <section class="qor-label-container" data-toggle="qor.filter">
      {{range $scope := $scopes}}
        {{if $scope.Group}}
          <select class="qor-label-group form-control" data-toggle="qor.selector" data-clearable="true" name="scopes" placeholder="{{$scope.Group}}">
            {{range $s := $scope.Scopes}}
              <option value="{{$s.Name}}"{{if $s.Active}} selected{{end}}>{{t $s.Label}}</option>
            {{end}}
          </select>
        {{else}}
          {{range $s := $scope.Scopes}}
            <a class="qor-label{{if $s.Active}} active{{end}}" href="?scopes={{$s.Name}}">
              {{t $s.Label}}
              {{if $s.Active}}
                <i class="material-icons qor-label-clear">clear</i>
              {{end}}
            </a>
          {{end}}
        {{end}}
      {{end}}
    </section>
  </div>
{{end}}
