body {
}

.header {
  height: 60px;
  background-color: $brand-primary;

  .brand {
    float: left;
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
  }
}

.main {
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  border-top: 1px solid darken($brand-primary, 5%);
  background-color: $brand-primary;

  .copyright {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ccc;
  }

  .bottomlinks {
    margin-bottom: 0;

    > li > a {
      color: #eee;
    }
  }
}
