// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}


// Toggling content
// -------------------------

.text-hide {
  @include text-hide;
}

// Catchall baseclass
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.browserupgrade {
  margin: 0;
  padding: 5px 10px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  text-align: center;
}
