// Utility classes
// --------------------------------------------------

// Floats
// -------------------------

.clearfix {
  @include clearfix;
}


// Toggling content
// -------------------------

.shown,
.is-shown {
  display: block !important;
}

.hidden,
.is-hidden {
  display: none !important;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

tr.collapse.in    {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height, visibility .35s ease;
}
