{{$resource := .Resource}}

<div class="qor-filter">
  {{$scopes := get_scopes}}
  {{if $scopes}}
    <section class="qor-label-container fl">
      {{range $scope := $scopes}}
        {{if $scope.Group}}
          <select class="qor-label-group form-control" data-toggle="qor.selector" name="scopes">
            <optgroup label="{{$scope.Group}}">
              {{range $s := $scope.Scopes}}
                <option value="{{$s.Name}}">{{t $s.Label}}</option>
              {{end}}
            </optgroup>
          </select>
        {{else}}
          {{range $s := $scope.Scopes}}
            <a class="qor-label label label-default" href="?scopes={{$s.Name}}">{{t $s.Label}}</a>
          {{end}}
        {{end}}
      {{end}}
    </section>
  {{end}}

  {{$current_locale := current_locale .}}
  <select class="qor-locale-selector form-control">
    {{range $locale := viewable_locales .}}
      <option{{if (eq $current_locale $locale)}} selected{{end}} value="{{patch_current_url "locale" $locale}}">{{t $locale}}</option>
    {{end}}
  </select>
</div>
