{{$context := .}}

<div class="table clearfix">
  <div class="thead">
    <div class="thr-wrapper">
      <ul class="clearfix thr-inner">
        {{range $index, $meta := index_metas}}
          <li class="th col-{{$index}}" data-col="col-{{$index}}">
            <a href="javascript:;" title="{{$meta.Label}}">{{$meta.Label}}</a>
          </li>
        {{end}}
        <li class="th col-lang" data-col="col-lang">
          <a href="javascript:;" title="Languages">Languages</a>
        </li>
        <li class="th col-act" data-col="col-act">
          <a href="javascript:;" title="Actions">Actions</a>
        </li>
      </ul>
    </div>
  </div>

  <hr class="hair">

  <div class="tbody clearfix">
    <!-- <div class="table-loader invisible">
      <img src="/img/loader.gif">
      <strong>Loading…</strong>
    </div> -->

    <ol class="clearfix records">
      {{range $resource := .Result}}
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          {{range $index, $meta := index_metas}}
            {{$text := value_of $resource $meta}}
            <span title="{{$meta.Label}}" class="td col-{{$index}}">
              {{if $index}}
                {{$text}}
              {{else}}
                {{link_to $text $resource}}
              {{end}}
            </span>
          {{end}}

          <span class="td col-lang">
            {{range $resource_locale := locales_of_resource $resource $context}}
              <a class="label label-{{if $resource_locale.localized}}primary{{else}}default{{end}}" href="{{url_for $resource}}?locale={{$resource_locale.locale}}">
                {{$resource_locale.locale}}
              </a>
            {{end}}
          </span>

          <span class="td col-act">
            <form action="{{url_for $resource}}" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <a class="btn md md-edit" href="{{url_for $resource}}"></a>
              <button class="btn md md-delete" type="submit" data-confirm="Are you sure?"></button>
            </form>
          </span>
        </div>

      </li>
      {{end}}
    </ol>

    <ol class="clearfix records">
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            1
          </span>
          <span title="name" class="td col-1">
            1
          </span>
          <span title="name" class="td col-2">
            1
          </span>
          <span title="name" class="td col-3">
            1
          </span>
          <span title="name" class="td col-4">
            1
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            2
          </span>
          <span title="name" class="td col-1">
            2
          </span>
          <span title="name" class="td col-2">
            2
          </span>
          <span title="name" class="td col-3">
            2
          </span>
          <span title="name" class="td col-4">
            2
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            3
          </span>
          <span title="name" class="td col-1">
            3
          </span>
          <span title="name" class="td col-2">
            3
          </span>
          <span title="name" class="td col-3">
            3
          </span>
          <span title="name" class="td col-4">
            3
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            1
          </span>
          <span title="name" class="td col-1">
            1
          </span>
          <span title="name" class="td col-2">
            1
          </span>
          <span title="name" class="td col-3">
            1
          </span>
          <span title="name" class="td col-4">
            1
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            2
          </span>
          <span title="name" class="td col-1">
            2
          </span>
          <span title="name" class="td col-2">
            2
          </span>
          <span title="name" class="td col-3">
            2
          </span>
          <span title="name" class="td col-4">
            2
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            3
          </span>
          <span title="name" class="td col-1">
            3
          </span>
          <span title="name" class="td col-2">
            3
          </span>
          <span title="name" class="td col-3">
            3
          </span>
          <span title="name" class="td col-4">
            3
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            1
          </span>
          <span title="name" class="td col-1">
            1
          </span>
          <span title="name" class="td col-2">
            1
          </span>
          <span title="name" class="td col-3">
            1
          </span>
          <span title="name" class="td col-4">
            1
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            2
          </span>
          <span title="name" class="td col-1">
            2
          </span>
          <span title="name" class="td col-2">
            2
          </span>
          <span title="name" class="td col-3">
            2
          </span>
          <span title="name" class="td col-4">
            2
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            3
          </span>
          <span title="name" class="td col-1">
            3
          </span>
          <span title="name" class="td col-2">
            3
          </span>
          <span title="name" class="td col-3">
            3
          </span>
          <span title="name" class="td col-4">
            3
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            1
          </span>
          <span title="name" class="td col-1">
            1
          </span>
          <span title="name" class="td col-2">
            1
          </span>
          <span title="name" class="td col-3">
            1
          </span>
          <span title="name" class="td col-4">
            1
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            2
          </span>
          <span title="name" class="td col-1">
            2
          </span>
          <span title="name" class="td col-2">
            2
          </span>
          <span title="name" class="td col-3">
            2
          </span>
          <span title="name" class="td col-4">
            2
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            3
          </span>
          <span title="name" class="td col-1">
            3
          </span>
          <span title="name" class="td col-2">
            3
          </span>
          <span title="name" class="td col-3">
            3
          </span>
          <span title="name" class="td col-4">
            3
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            1
          </span>
          <span title="name" class="td col-1">
            1
          </span>
          <span title="name" class="td col-2">
            1
          </span>
          <span title="name" class="td col-3">
            1
          </span>
          <span title="name" class="td col-4">
            1
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            2
          </span>
          <span title="name" class="td col-1">
            2
          </span>
          <span title="name" class="td col-2">
            2
          </span>
          <span title="name" class="td col-3">
            2
          </span>
          <span title="name" class="td col-4">
            2
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
      <li class="record-item transition clearfix tr">
        <div class="tr-inner clearfix">
          <span title="name" class="td col-0">
            3
          </span>
          <span title="name" class="td col-1">
            3
          </span>
          <span title="name" class="td col-2">
            3
          </span>
          <span title="name" class="td col-3">
            3
          </span>
          <span title="name" class="td col-4">
            3
          </span>

          <span title="name" class="td col-lang">
            En
          </span>

          <span class="td col-act">
            <form action="" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <button class="btn md md-delete" type="submit"></button>
            </form>
          </span>
        </div>

      </li>
    </ol>

  </div>
</div>
