{{$context := .}}

<div class="table-wrapper wrapper">
  <table state="list">
    <thead class="thead">
      <tr>
        {{range $index, $meta := index_metas}}
          <th class="th col-{{$index}}" data-col="col-{{$index}}">
            <a href="javascript:;" title="{{$meta.Label}}">{{$meta.Label}}</a>
          </th>
        {{end}}
        <th class="th col-lang" data-col="col-lang">
          <a href="javascript:;" title="Languages">Languages</a>
        </th>
        <th class="th col-act" data-col="col-act">
          <a href="javascript:;" title="Actions">Actions</a>
        </th>
      </tr>
    </thead>
    <tbody class="tbody">
      {{range $resource := .Result}}
        <tr class="record-item tr transition">
          {{range $index, $meta := index_metas}}
            {{$text := value_of $resource $meta}}
            <td title="{{$meta.Label}}" class="td col-{{$index}}">
              {{if $index}}
                {{$text}}
              {{else}}
                {{link_to $text $resource}}
              {{end}}
            </td>
          {{end}}

          <td class="td col-lang">
            {{range $resource_locale := locales_of_resource $resource $context}}
              <a class="label label-{{if $resource_locale.localized}}primary{{else}}default{{end}}" href="{{url_for $resource}}?locale={{$resource_locale.locale}}">
                {{$resource_locale.locale}}
              </a>
            {{end}}
          </td>

          <td class="td col-act">
            <form action="{{url_for $resource}}" method="POST">
              <input name="_method" value="DELETE" type="hidden">
              <a class="btn md md-edit" href="{{url_for $resource}}"></a>
              <button class="btn md md-delete" type="submit" data-confirm="Are you sure?"></button>
            </form>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>

<div id="plus-wrapper">
  {{$resource := .Resource}}
  {{range $locale := createable_locales .}}
    <a id="plus" href="{{new_resource_path $resource}}?locale={{$locale}}"></a>
  {{end}}
</div>
