<a class="close-reveal-modal">&#215;</a>

<table>
  <thead>
    <tr>
      <th>Column</th>
      <th>Live</th>
      <th>Draft</th>
    </tr>
  </thead>

  <tbody>
    {{$production := .Result.Production}}
    {{$draft := .Result.Draft}}
    {{range $meta := index_metas .Result.Resource}}
    {{$production_value := value_of $production $meta}}
    {{$draft_value := value_of $draft $meta}}
    <tr {{if not (equal $production_value $draft_value)}}class="diff"{{end}}>
      <td>{{$meta.Label}}</td>
      <td>{{$production_value}}</td>
      <td>{{$draft_value}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
