<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="diffModalLabel">{t "Diff"}</h4>
</div>

<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{t "Column"}}</th>
          <th>{{t "Live"}}</th>
          <th>{{t "Draft"}}</th>
        </tr>
      </thead>
      <tbody>
        {{$production := .Result.Production}}
        {{$draft := .Result.Draft}}
        {{$has_production := not (is_new_record $production)}}

        {{range $meta := index_metas .Result.Resource}}
        {{$draft_value := value_of $draft $meta}}
        {{$production_value := value_of $production $meta}}
        {{$diff := or (not $has_production) (not (equal $production_value $draft_value))}}

        <tr {{if $diff}}class="danger"{{end}}>
          <td>{{$meta.Label}}</td>
          {{if $has_production}}
          <td>{{$production_value}}</td>
          {{else}}
          <td></td>
          {{end}}
          <td>{{$draft_value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
