{{javascript_tag "foundation.min"}}
{{stylesheet_tag "foundation.min"}}
{{stylesheet_tag "font-awesome.min"}}
{{javascript_tag "publish"}}
{{stylesheet_tag "publish"}}

<form action="" class="drafts clearfix" method="POST">
  <h2 class="title left">DRAFTS</h2>
  <div class="publish-buttons right">
    <button type="submit" name="publish_type" value="discard" class="button alert radius tiny">DISCARD</button>
    <button type="submit" name="publish_type" value="publish" class="button success radius tiny">PUBLISH</button>
  </div>

  {{range $res, $records := .Result}}
  <section>
    <table class="table">
      <thead>
        <tr>
          <th>{{$res.Name}}</th>
          {{range $meta := (index_metas $res)}}
          <th>{{$meta.Label}}</th>
          {{end}}
        </tr>
      </thead>

      <tbody>
        {{range $record := $records}}
        {{$key := (printf "%s__%v" $res.ToParam (primary_key_of $record))}}
        <tr id={{$key}} class="draft-item">
          <td class="selector">
            <input type="checkbox" name="checked_ids[]" value="{{$key}}"/>
          </td>
          {{range $index, $meta := index_metas $res}}
          {{$text := value_of $record $meta}}
          <td>
            {{$text}}
          </td>
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
  </section>
  {{end}}
</form>

<div class="reveal-modal-box reveal-modal" data-reveal>
</div>
