<style>
.drafts {
  margin-top: 20px;
}

table {
  width: 100%;
}

  table td, table th {
    height: 2em;
  }

  .drafts section {
    width: 70%;
    margin: 30px auto;
  }
</style>

<article class="drafts clearfix">
  {{range $res, $records := .Result}}
  <section>
    <table class="table">
      <thead>
        <tr>
          <th>{{$res.Name}}</th>
          {{range $meta := (index_metas $res)}}
          <th>{{$meta.Label}}</th>
          {{end}}
        </tr>
      </thead>

      <tbody>

        {{range $record := $records}}
        <tr>
          <td>
            View
          </td>
          {{range $index, $meta := index_metas $res}}
          {{$text := value_of $record $meta}}
          <td>
            {{$text}}
          </td>
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
  </section>
  {{end}}
</article>
