.datepicker-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 30px;
}

.datepicker-arrow,
.datepicker-arrow:after {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}

.datepicker-arrow {
  position: relative;
  margin: 0 10px;
  border-bottom-color: #9cf;
}

.datepicker-arrow:after {
  position: absolute;
  top: -4px;
  left: -5px;
  content: " ";
  border-bottom-color: #fff;
}

.datepicker-content {
  width: 210px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid #ccc;
  border-top-color: #9cf;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
}

.datepicker-prev,
.datepicker-next {
  font-size: 18px;
}

.datepicker-content ul:before,
.datepicker-content ul:after {
  display: table;
  content: "";
}

.datepicker-content ul:after {
  clear: both;
}

.datepicker-content ul {
  width: 102%;
  padding: 0;
  margin: 0;
}

.datepicker-content li {
  float: left;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  cursor: pointer;
  background-color: #fff;
}

.datepicker-content .col-1 {
  width: 30px;
}

.datepicker-content .col-2 {
  width: 60px;
}

.datepicker-content .col-3 {
  width: 90px;
}

.datepicker-content .col-4 {
  width: 120px;
}

.datepicker-content .col-5 {
  width: 150px;
}

.datepicker-content .col-6 {
  width: 180px;
}

.datepicker-content .col-7 {
  width: 210px;
}

.datepicker-content li:hover {
  background-color: #eee;
}

.datepicker-content .selected,
.datepicker-content .selected:hover {
  color: #36f;
}

.datepicker-content .disabled,
.datepicker-content .disabled:hover {
  color: #ccc;
}

.datepicker-years li,
.datepicker-months li {
  width: 52.5px;
  height: 52.5px;
  line-height: 52.5px;
}

.datepicker-week li,
.datepicker-week li:hover {
  cursor: default;
  background-color: #fff;
}
