// Popper
// --------------------------------------------------


// Class for body element to prevent scroll

.qor-slideout-open {
  overflow: hidden;
}


.qor-slideout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1003;
  display: none;
  width: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  @include shadow-16dp();

  -webkit-transition: width 0.35s ease;
       -o-transition: width 0.35s ease;
          transition: width 0.35s ease;

  &.active {
    display: block;
  }

  &.in {
    width: 100%;
  }

  .qor-error {
    margin-right: 0;
    margin-left: 0;
    box-shadow: none;
  }
}

.qor-slideout__header {
  position: relative;
  height: 64px;
  padding: 0 24px;
  background-color: unquote("rgb(#{$color-primary})");
}

.qor-slideout__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 64px;
  font-weight: 500;
  color: #fff;
}

.qor-slideout__close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.qor-slideout__body {
  padding: 16px 24px;
}

@media (min-width: 768px) {
  .qor-slideout {
    &.in {
      max-width: 640px;
      width: 50%;
    }
  }
}
