.qor-datepicker {
  .mdl-card {
    width: 312px;
  }

  .mdl-card__title {
    display: none;
  }

  .mdl-card__supporting-text {
    padding: 0;
  }
}

.qor-datepicker__picked {
  padding: 16px 24px;
  color: #fff;
  background-color: unquote("rgb(#{$color-primary})");
}

.qor-datepicker__picked-year {
  margin-bottom: 8px;
}

.qor-datepicker__picked-date {
  font-size: 34px;
  font-weight: 400;
  line-height: 1;
}

.qor-datepicker__embedded {
  padding: 16px;

  // Reset Datepicker CSS
  .datepicker-container {
    float: none;
    position: static;
  }

  .datepicker-content {
    width: 280px;
    border: none;
    box-shadow: none;
  }

  .datepicker-content li {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
  }

  .datepicker-content .col-1 {
    width: 40px;
  }

  .datepicker-content .col-2 {
    width: 80px;
  }

  .datepicker-content .col-3 {
    width: 120px;
  }

  .datepicker-content .col-4 {
    width: 160px;
  }

  .datepicker-content .col-5 {
    width: 200px;
  }

  .datepicker-content .col-6 {
    width: 240px;
  }

  .datepicker-content .col-7 {
    width: 280px;
  }

  .datepicker-content .selected,
  .datepicker-content .selected:hover {
    background-color: unquote("rgb(#{$color-primary})");
    color: #fff;
  }

  .datepicker-years li,
  .datepicker-months li {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    line-height: 70px;
  }
}
