.qor-cropper__canvas {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.qor-cropper__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #888;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  // .material-icons
  > i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    color: #fff;
  }
}

.qor-cropper__wrapper {
  margin: -16px;

  > img {
    max-width: 100%;
  }
}

.qor-cropper__options {
  display: none;
  margin-top: 32px;
  @include clearfix();

  > p {
    float: left;
    margin-right: 16px;
    margin-bottom: 0;
  }

  > ul {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    overflow: hidden;

    > li {
      float: left;
      margin-right: 16px;

      > label {
        > input {
          margin-right: 2px;
        }

        > span {
          display: inline-block;

          &:first-letter {
            text-transform: uppercase;
          }

          > small {
            margin-left: 4px;
            color: unquote("rgba(#{$color-black}, 0.26)");
          }
        }
      }
    }
  }
}
