// Slideout
// --------------------------------------------------


// Class for body element to prevent scroll
.qor-slideout-open {
  overflow: hidden;
}

.qor-slideout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-slideout;
  display: none;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  @include shadow-16dp();

  &.is-shown {
    display: block;
    width: 0;
    transition: width 0.3s ease;
  }

  &.is-slided {
    width: 100%;

    @media (min-width: $layout-screen-size-threshold) {
      width: 50%;
    }
  }

  .qor-error {
    margin-right: 0;
    margin-left: 0;
    box-shadow: none;
  }
}

.qor-slideout__header {
  position: relative;
  height: 64px;
  padding: 0 24px;
  background-color: unquote("rgb(#{$color-primary})");
}

.qor-slideout__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 64px;
  font-weight: 500;
  color: #fff;
}

.qor-slideout__close {
  position: absolute !important;
  top: 16px;
  right: 16px;
  color: #fff;
}

.qor-slideout__body {
  padding: 16px 24px;
  .qor-page__header{
    margin: -16px -24px 32px -24px;
    position: static;
    width: 100%;
    + .qor-page__body{
      padding-top: 0;
    }
    &:empty{
      display: none;
    }
  }
}
