// Reset for cropper

.qor-cropper__toggle--redactor {
  display: none;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: 1px;
  padding: 7px 10px;
  background-color: #000;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  cursor: pointer;

  ~ #redactor-image-editter {
    left: auto;
    right: 50%;
    margin-left: 0 !important;
  }

  #redactor-image-box & {
    display: block;
  }
}
