.qor-actions {
  float: left;
  min-height: 32px;
  margin-right: 16px;
  padding: 8px 0;
  @include clearfix();

  &:first-child {
    .qor-selector {
      margin-left: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .qor-selector,
  .qor-action--text,
  .qor-action--label,
  .qor-action--select,
  .qor-action--button {
    float: left;
  }
}

.qor-action--select {
  height: 32px;
  border: 2px solid unquote("rgb(#{$color-primary})");
}

.qor-action--label {
  display: inline-block;
  height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 28px;
  color: unquote("rgba(#{$color-black}, 0.54)");
  background-color: #fff;
  border: 2px solid unquote("rgba(#{$color-black}, 0.12)");
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: unquote("rgba(#{$color-black}, 0.54)");
  }

  &.is-active {
    padding-right: 0;
    color: unquote("rgba(#{$color-black}, 0.87)");
    border-color: unquote("rgb(#{$color-primary})");
  }

  > i {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-left: 6px;
    padding-left: 2px;
    font-size: 16px;
    line-height: 28px;
    background-color: unquote("rgb(#{$color-primary})");
    color: #fff;
    text-align: center;
    vertical-align: top;
  }

  + .qor-action--select,
  + .qor-action--label {
    margin-left: 8px;
  }
}
.qor-action-bulk-buttons,.qor-action-forms{
  display: inline-block;
  vertical-align: middle;
  padding: 8px 0;
}
.qor-action--button {
  height: 32px;
  line-height: 32px;

  + .qor-action--button {
    margin-left: 8px;
  }
}

.qor-action-bulk-edit{
  float: left;
}
.qor-action-forms{
  .qor-form__actions{
    margin-top: 0;
  }
  > .qor-action-button{
    margin-right: 24px;
  }
  > .action-form{
    margin-right: 24px;
  }
  > .action-form, .qor-form-section, .qor-form__actions{
    display: inline-block;
    vertical-align: baseline;
  }
  .qor-form__actions{
    .mdl-button{
      float: none;
    }
  }
}

.qor-slideout__body{
  .qor-page__header{
    box-shadow: none;
    background: transparent;
    height: auto;
    min-height: 0;
    padding-top: 0;
    margin: -16px -24px 0;
    .mdl-button{
      height: 36px;
      line-height: 36px;
      margin-right: 0;
      margin-left: 24px;
    }
    .qor-action-forms{
      margin-top: 16px;
      text-align: right;
      margin-bottom: -50px;
    }
  }
}

@media screen and (max-width: 1024px){
    .qor-slideout__body .qor-page__header+.qor-page__body{
      margin-top: 0;
    }
}


