// Buttons
// --------------------------------------------------

.qor-button--small {
  height: 32px;
  line-height: 32px;
}

.qor-button--new  {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 1;
}

// .qor-button--outlined {
//   outline: 1px solid unquote("rgba(#{$color-black}, 0.12)");

//   .material-icons {
//     vertical-align: middle;
//   }
// }
