// Buttons
// --------------------------------------------------

.qor-button--small {
  height: 32px;
  line-height: 32px;
}

.qor-button--new  {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 1;
}
