// Errors
// --------------------------------------------------

.qor-error {
  margin: 24px;
  padding-left: 0;
  background-color: #fff;
  box-shadow: $box-shadow-1;
  list-style: none;

  > li {
    + li {
      border-top: 1px solid rgba(0,0,0,0.12);
    }

    > label {
      position: relative;
      display: block;
      margin-bottom: 0;
      padding: 16px 24px 16px 56px;
      line-height: 24px;
      font-weight: normal;
      color: $color-accent;

      > .material-icons {
        position: absolute;
        top: 16px;
        left: 24px;
        vertical-align: middle;
      }
    }
  }
}
