// Filter
// --------------------------------------------------

.qor-filter {
  padding-top: 2px;
  padding-bottom: 2px;
  @extend .clearfix;

  .qor-locale-selector {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
