// Filter
// --------------------------------------------------

.qor-filter {
  @extend .clearfix;

  .qor-locale-selector {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
