// Filter
// --------------------------------------------------

.qor-filter {
  float: left;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  @include clearfix();

  .qor-locale-selector {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .qor-label,
  .qor-selector {
    margin: 4px 4px 4px 0;
  }
}
