// Forms
// --------------------------------------------------

.qor-form-container {
  margin: 24px;
  padding: 24px;
  background-color: #fff;
  @include shadow-2dp();
}

.qor-form {
  .mdl-textfield {
    display: block;
    width: 100%;
  }
}

.qor-form--search {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 24px;
  padding-right: 24px;
  background-color: inherit;
}

.qor-search {
  height: 56px;
  padding-top: 14px;
  padding-bottom: 14px;

  > .mdl-button {
    bottom: 12px;
  }

  > .qor-search-label {
    color: unquote("rgba(#{$color-black}, 0.54)");
  }

  > .qor-search-clear {
    display: none;
  }
}

.is-dirty,
.is-focused {
  > .qor-search-label {
    &,
    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }

  > .qor-search-clear {
    right: -7px;
    display: block;
  }
}


.qor-collection {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 24px;
  border: 1px solid #eee;
  border-radius: 2px;
  background-color: $grey-50;

  > .form-group {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.qor-collection-del {
  float: right;
  margin-right: -8px;
}
