// Forms
// --------------------------------------------------


// Form
// -------------------------

.qor-form-container {
  margin: 24px;
  padding: 24px;
  background-color: #fff;
  @include shadow-2dp();
}

.qor-form {}

.qor-form__actions {
  margin-top: 24px;
  @include clearfix();

  .mdl-button {
    float: right;

    + .mdl-button {
      margin-right: 8px;
    }
  }
}


// Search Form
// -------------------------

.qor-form--search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding-left: 24px;
  padding-right: 24px;
  background-color: inherit;
}

.qor-search {
  height: 56px;
  padding-top: 14px;
  padding-bottom: 14px;

  .mdl-button {
    bottom: 12px;
  }

  .qor-search__label {
    color: unquote("rgba(#{$color-black}, 0.54)");
  }

  .qor-search__clear {
    display: none;
  }

  &.is-dirty,
  &.is-focused {
    .qor-search__label {
      &,
      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }

    .qor-search__clear {
      right: -7px;
      display: block;
    }
  }
}


// Field
// -------------------------

.qor-field__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 8px;
  font-size: 12px;
  color: unquote("rgba(#{$color-black}, 0.54)");
}

.qor-field__input {
  width: 100%;
}

.qor-field__block {
  display: block;
  padding-bottom: 20px;
}

.qor-field {
  padding-top: 4px;
  padding-bottom: 4px;

  &.is-error {
    margin-bottom: 16px;

    .qor-field__label,
    .qor-field__error,
    .mdl-textfield__label {
      color: unquote("rgb(#{$color-accent})");
    }

    .qor-field__error {
      display: block;
      font-size: 12px;

      > i {
        font-size: 18px;
        vertical-align: top;
      }

      > span {
        + span {
          margin-left: 8px;
        }
      }
    }

    .mdl-textfield,
    .qor-field__block {
      + .qor-field__error {
        margin-top: -16px;
      }
    }
  }

  .mdl-checkbox__label {
    font-size: 14px;
  }
}

// Remove white background
.mdl-textfield__input {
  background-color: transparent;
}

// Custom modifier for .mdl-textfield
.qor-textfield--static-label {
  .mdl-textfield__label {
    color: unquote("rgba(#{$color-black}, 0.54)");
    font-size: 12px;
    top: 4px;
  }

  .mdl-textfield__input {
    font-size: 14px;
  }

  &.is-dirty .mdl-textfield__label {
    visibility: visible;
  }
}

.qor-textfield--condensed {
  padding-top: 0;
  padding-bottom: 0;

  .mdl-textfield__label {
    top: 0;
    font-size: 14px;

    &:after {
      bottom: 0;
    }
  }

  .mdl-textfield__input {
    font-size: 14px;
  }
}


// File input
// -------------------------

.qor-file {
  position: relative;
  display: block;
}

.qor-file__list {
  overflow: hidden;

  > ul {
    margin-top: 12px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li {
      position: relative;
      float: left;
      display: block;
      width: 160px;
      height: 160px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid unquote("rgba(#{$color-black}, 0.12)");
      background-color: unquote("rgb(#{$palette-grey-50})");
      overflow: hidden;

      > span {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        padding: 5px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        background-color: unquote("rgba(#{$color-white}, 0.5)");

        &:first-letter {
          text-transform: uppercase;
        }
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 160px;
      }
    }
  }
}


// Fieldset
// -------------------------

.qor-fieldset {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 8px 24px;
  border: 1px solid unquote("rgba(#{$color-black}, 0.12)");
  background-color: unquote("rgb(#{$palette-grey-50})");
}

.qor-fieldset__delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.qor-fieldset__alert {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}
