// Label
// --------------------------------------------------

.qor-label-container {
  display: inline-block;
  vertical-align: middle;
}

.qor-label {
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  color: rgba(0,0,0,.54);
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 2px;

  &:hover,
  &:focus
  &.active,
  &.active:hover,
  &.active:focus,
  &.active {
    border-color: #03a9f4;
    color: rgba(0,0,0,.87);
    text-decoration: none;
  }

  > .material-icons {
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
  }

  > .qor-label-clear {
    display: none;
  }

  &.active {
    padding-right: 0;

    > .qor-label-clear {
      display: inline-block;
      width: 22px;
      margin-left: 4px;
      padding-left: 2px;
      background-color: #03a9f4;
      color: #fff;
    }
  }

  + .qor-label {
    margin-left: 2px;
  }
}

.qor-label-group {
  display: inline-block;
  width: auto;
  margin-right: 16px;
  vertical-align: middle;
}
