.qor-label {
  display: inline;
  padding: .2em .6em;
  border: 1px solid unquote("rgba(#{$color-black}, 0.12)");
  font-size: 85%;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
  color: unquote("rgba(#{$color-black}, 0.26)");
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  // &:hover,
  // &:focus {
  //   border-color: unquote("rgba(#{$color-black}, 0.26)");
  //   color: unquote("rgba(#{$color-black}, 0.54)");
  //   text-decoration: none;
  // }

  &.is-active {
    border-color: unquote("rgba(#{$color-primary}, 0.87)");
    color: unquote("rgb(#{$color-primary})");
  }
}
