.qor-layout {
  width: 100%;

  .mdl-layout-text {
    color: unquote("rgba(#{$color-white}, 0.54)");
  }

  .mdl-navigation__link > .material-icons {
    vertical-align: middle;
  }

  .mdl-layout__header .mdl-layout__header-row {
    @media screen and (max-width: $layout-screen-size-threshold) {
      padding-left: 72px;
    }
  }
}

.qor-layout__sidebar {
  height: 100%;

  > .sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    border-bottom: 1px solid unquote("rgba(#{$color-black}, 0.12)");

    > a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:first-child {
        float: left;
        display: block;
        width: 110px;
        height: 64px;
        background: url(../images/logo.png) no-repeat center center;
        color: transparent;
      }

      &:last-child {
        float: left;
        width: 100px;
        padding: 22px 10px;
        color: #757575;

        > .material-icons {
          position: relative;
          top: -1px;
          margin-left: 3px;
          margin-right: 3px;
          vertical-align: middle;
        }
      }
    }
  }

  > .sidebar-body {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 40px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  > .sidebar-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    border-top: 1px solid unquote("rgba(#{$color-black}, 0.12)");
    line-height: 24px;
  }
}

.qor-layout__content {
  position: absolute; // Inherit body height with absolute position
  top: 0;
  right: 0;
  left: 56px;
  min-height: 100%;
  -webkit-transition: left 0.35s ease;
       -o-transition: left 0.35s ease;
          transition: left 0.35s ease;
}

.qor-page {

}

.qor-page__header {
  position: relative;
  min-height: 56px;
  margin-bottom: 24px;
  padding: 0 80px 0 24px;
  background-color: #fff;
  @include shadow-2dp();
  @extend .clearfix;
}

.qor-page__body {
}

.qor-page__footer {
  height: 40px;
}
