// List
// --------------------------------------------------

.qor-list-container {
  position: relative;
  // margin: 24px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.24);

  .qor-action-new {
    position: absolute;
    right: 24px;
    bottom: -21px;
    z-index: 1;
  }
}

.qor-list {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        border-top: 1px solid #ddd;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }
      }

      &.active {
        > th,
        > td {
          background-color: #f5f5f5;
        }
      }

      &.active:hover {
        > th,
        > td {
          background-color: #e8e8e8;
        }
      }

      &.success {
        background-color: #dff0d8;
      }

      &.info {
        background-color: #d9edf7;
      }

      &.warning {
        background-color: #fcf8e3;
      }

      &.danger {
        background-color: #f2dede;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: 500;
    white-space: nowrap;
  }

  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  > tbody > tr:hover {
    background-color: #f5f5f5;
  }

  // Account for multiple tbody instances
  > thead + tbody,
  > tbody + tbody {
    border-top: 2px solid #ddd;
  }

  // Nesting
  .table {
    background-color: #fff;
  }

  img {
    max-width: 160px;
    max-height: 90px;
  }
}

.qor-list-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0,0,0,.54);
}

.qor-list-text-container {
  margin: -8px;
  padding: 8px;
}

.qor-list-text {
  position: relative;
  display: inline-block;
  max-width: 320px;
  max-height: 100px;
  word-wrap: break-word;
  background-color: inherit;
  vertical-align: middle;

  &.scrollable {
    overflow: auto;
  }
}

.qor-list-label {
  display: inline;
  padding: .2em .6em;
  border: 1px solid #ddd;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
  color: #ccc;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  &:hover,
  &:focus {
    border-color: lighten(#666, 20%);
    color: #666;
    text-decoration: none;
  }

  &.active {
    border-color: lighten(#03a9f4, 20%);
    color: #03a9f4;
  }
}

.qor-list-action {
  text-align: center;

  > a {
    + a {
      margin-left: 32px;
    }
  }
}
