// List
// --------------------------------------------------

.qor-list-container {
  position: relative;
  margin: 0 24px 24px;
  background-color: #fff;
  box-shadow: $box-shadow-1;
  overflow-x: auto;
}


.qor-list {
  width: 100%;
  max-width: 100%;
  color: $color-text;

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        border-top: 1px solid #ddd;
        height: 48px;

        &:first-child {
          padding-left: 24px;
        }

        &:last-child {
          padding-right: 24px;
        }
      }

      &.active {
        > th,
        > td {
          background-color: #f5f5f5;
        }
      }

      &.active:hover {
        > th,
        > td {
          background-color: #e8e8e8;
        }
      }

      &.success {
        background-color: #dff0d8;
      }

      &.info {
        background-color: #d9edf7;
      }

      &.warning {
        background-color: #fcf8e3;
      }

      &.danger {
        background-color: #f2dede;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $color-secondary;
  }

  > tbody > tr:hover {
    background-color: #f5f5f5;
  }

  // Account for multiple tbody instances
  > thead + tbody,
  > tbody + tbody {
    border-top: 2px solid #ddd;
  }

  img {
    max-width: 160px;
    max-height: 90px;
  }
}

.qor-list-heading {
  margin: 8px 24px;
  font-size: 16px;
  line-height: 24px;
  color: $color-secondary;
}

.qor-list-text {
  position: relative;
  display: inline-block;
  max-width: 320px;
  max-height: 96px;
  min-height: 24px;
  line-height: 24px;
  word-wrap: break-word;
  background-color: inherit;
  vertical-align: middle;
  overflow: hidden;

  &.viewable {
    overflow: visible;
  }
}

.qor-list-ellipsis {
  margin-bottom: 0;
  line-height: 1;
}

.qor-list-label {
  display: inline;
  padding: .2em .6em;
  border: 1px solid #ddd;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
  color: #ccc;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  &:hover,
  &:focus {
    border-color: lighten(#666, 20%);
    color: #666;
    text-decoration: none;
  }

  &.active {
    border-color: lighten(#03a9f4, 20%);
    color: #03a9f4;
  }
}

.qor-list-action {
  text-align: center;
  white-space: nowrap;

  > a {
    display: inline-block;
    min-width: 32px;
    min-height: 32px;
    line-height: 32px;
    white-space: nowrap;
    vertical-align: top;

    + a {
      margin-left: 8px;
    }

    > i {
      color: inherit;
      vertical-align: middle;
    }
  }
}
