// Menu
// --------------------------------------------------

.qor-menu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: #fff;

  > li {
    > a {
      display: block;
      padding: 8px 16px;
      line-height: 24px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      overflow: hidden;

      &:hover,
      &:focus {
        background-color: rgba(0,0,0,0.12);
        text-decoration: none;
      }
    }

    > ul > li > a {
      padding: 4px 16px 4px 32px;
      font-weight: normal;
    }
  }

  > .active,
  > .active:hover {
    > a,
    > a:hover,
    > a:focus {
      background-color: #fff;
      color: #03a9f4;
      cursor: default;
    }
  }
}

.collapsable {
  -webkit-transition: height 0.35s ease;
     -o-transition: height 0.35s ease;
        transition: height 0.35s ease;
}

.collapsed {
  height: 0;
  overflow: hidden;
}

.qor-menu-group {
  padding-top: 8px;
  padding-bottom: 8px;

  > ul {
    > li {
      position: relative;

      > a {
        min-height: 40px;
        font-size: 0;
        line-height: 0;

        &::before,
        &::after {
          display: block;
          width: 24px;
          height: 24px;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
          color: rgba(0,0,0,0.54);
          @extend .md;
        }

        &::before {
          content: "\e5d2";
        }
      }

      &[data-menu-item*="Dashboard"] {
        > a::before {
          content: "\e871";
        }
      }

      &[data-menu-item*="Assets"] {
        > a::before {
          content: "\e2c7";
        }
      }

      &[data-menu-item*="Products"] {
        > a::before {
          content: "\e1db";
        }
      }

      &[data-menu-item*="Sites"] {
        > a::before {
          content: "\e051";
        }
      }

      &[data-menu-item*="Orders"] {
        > a::before {
          content: "\e8cc";
        }
      }

      &[data-menu-item*="Users"] {
        > a::before {
          content: "\e7fd";
        }
      }

      &[data-menu-item*="Translations"] {
        > a::before {
          content: "\e894";
        }
      }

      &[data-menu-item*="Publishes"] {
        > a::before {
          content: "\e255";
        }
      }

      &[data-menu-item*="Setting"] {
        > a::before {
          content: "\e8b8";
        }
      }

      > ul {
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
        min-height: 40px;
        margin-left: 1px;
        box-shadow: 0 0 3px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.19);

        &::before {
          display: block;
          height: 40px;
          padding: 8px 16px;
          line-height: 24px;
          font-weight: 500;
          white-space: nowrap;
          content: attr(data-menu);
        }

        &::after {
          position: absolute;
          top: 12px;
          left: -8px;
          display: block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-left-width: 0;
          border-right-color: #fff;
          content: " ";
        }

        > li {
          &:first-child {
            margin-top: -1px;
            border-top: 1px solid rgba(0,0,0,0.12);
          }

          > a {
            padding: 4px 16px;
          }
        }
      }

      &:hover {
        > a {
          background-color: rgba(0,0,0,0.12);
        }

        > ul {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .qor-menu-group {
    > ul {
      > li {
        &:hover {
          > a {
            background-color: #fff;
          }
        }

        > a {
          position: relative;
          padding-left: 40px;
          padding-right: 32px;
          font-size: 14px;
          line-height: 24px;
          font-weight: 500;

          &:hover,
          &:focus {
            background-color: rgba(0,0,0,0.12);
          }

          &:before,
          &:after {
            position: absolute;
            top: 8px;
            left: 8px;
          }
        }



        > ul {
          position: static;
          display: block;
          min-height: 0;
          box-shadow: none;

          &::before,
          &::after {
            display: none;
          }

          > li {
            &:first-child {
              margin-top: 0;
              border-top: 0;
            }

            > a {
              padding-left: 40px;
            }
          }
        }
      }

      > .expandable > a:after {
        right: 8px;
        left: auto;
        content: "\e5ce";
      }

      > .expanded > a:after {
        content: "\e5cf";
      }
    }
  }
}
