// Nav Bars
// --------------------------------------------------

.qor-navbar {
  float: right;
  height: 64px;
  @extend .clearfix;

  > .navbar-text {
    float: left;
    margin: 0;
    padding: 0 12px;
    font-size: 12px;
    line-height: inherit;
    color: $color-dark-text;
  }

  > .navbar-menu {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    > li {
      float: left;

      > a {
        display: block;
        padding: 20px 12px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;

        > i {
          vertical-align: top;
        }
      }
    }
  }

  > .navbar-lang {
    float: left;
    padding-left: 24px;

    > .qor-selector {
      padding-top: 16px;
      padding-bottom: 16px;
      vertical-align: top;

      > .qor-selector-toggle {
        border-color: #fff;
      }
    }
  }
}
