// Navs
// --------------------------------------------------

.qor-nav-menu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  @extend .clearfix;

  > li {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

    > a {
      display: block;
      height: 32px;
      padding: 4px;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
