.qor-table {
  width: 100%;

  a:not([class*="mdl-button"]) {
    color: unquote("rgba(#{$color-black}, 0.54)");
  }

  img {
    width: auto !important;
    height: 24px !important;
  }

  > thead > tr > th {
    &[data-order-by] {
      text-decoration: underline;
      cursor: pointer;
    }

    &.is-sorted {
      color: unquote("rgba(#{$color-black}, 0.87)");

      &[data-order-by]::after {
        margin-left: 8px;
        font-size: 14px;
        content: "\e164";
        vertical-align: middle;
        @extend .material-icons;
      }

      &[data-order-by*="desc"]::after {
        transform: scaleY(-1);
      }
    }
  }
}

.qor-table__content {
  max-width: 160px;
  max-height: 24px;
  @include text-overflow();
}

.qor-table__actions {
  text-align: center !important;

  .mdl-button {
    margin: -4px 0;

    + .mdl-button {
      margin-left: 8px;
    }
  }
}

.qor-table-container {
  position: relative;
  margin: 24px;
  overflow-x: auto;
  @include shadow-2dp();
}
