.qor-table {
  width: 100%;
  margin: 0 24px;

  a:not([class*="mdl-button"]) {
    color: unquote("rgba(#{$color-black}, 0.54)");
  }

  tbody tr{
    position: static;
  }

  img {
    width: auto !important;
    height: 24px !important;
  }

  &.is-sortable > thead > tr > th {
    &[data-order-by] {
      text-decoration: underline;
      cursor: pointer;
    }

    &.is-sorted {
      color: unquote("rgba(#{$color-black}, 0.87)");

      &[data-order-by]::after {
        margin-left: 8px;
        font-size: 14px;
        content: "\e164";
        vertical-align: middle;
        @extend .material-icons;
      }

      &[data-order-by*="desc"]::after {
        transform: scaleY(-1);
      }
    }
  }
}

.qor-table__content {
  max-width: 180px;
  max-height: 24px;
  @include text-overflow();
  p {
    max-width: 180px;
    max-height: 24px;
    @include text-overflow();
    font-size: 13px;
  }
}

.qor-table__actions {
  text-align: center !important;
  .mdl-menu{
    min-width: 160px;
  }
  .mdl-button {
    margin: -4px 0;
    + .mdl-button {
      margin-left: 8px;
    }
  }
  .mdl-menu__item a{
    color: unquote("rgba(#{$color-black}, 0.87)");
    text-decoration: none;
  }
}

.qor-table-container {
  position: relative;
  margin-top: 24px;
}
