// Toolbar
// --------------------------------------------------

.qor-toolbar {
  padding-top: 8px;
  padding-bottom: 8px;
  @extend .clearfix;

  > .navbar-text {
    float: left;
    margin: 0;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    color: #b3d6eb;

    > span {
     color: #eee;
    }
  }

  > .qor-nav-menu {
    float: left;

    > li > a {
      color: #fff;
    }
  }
}
