body {
  font-family: $preferred_font;
  background-color: #f5f5f5;
}

a {
  color: unquote("rgb(#{$color-primary})");

  &:focus,
  &:hover {
    color: unquote("rgb(#{$color-primary-dark})");
  }
}
