@import '../../core/reset.css'
@import '../../core/typography.css'
@import '../../core/rhyme.css'

@import 'global'

.main
  min-height: 100%
  padding: 5.7rem 0 5.6rem 0
  margin: -5.7rem 0 -5.6rem 0
  box-sizing: border-box
  .container, .wrapper
    padding-top: 2rem
    padding-bottom: 2rem

.brand
  display: block
  margin: 0 auto
  text-align: center
  line-height: 4.2rem
  font-family: Existence, 'Poiret One', 'Code Light'
  font-size: 3.2rem

.header
  border-top: 3px #333 solid
  padding-top: 1rem
  &:after
    content: ''
    border: 0
    width: 100%
    height: 0.1rem
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
    opacity: 0.5
  .navbar
    margin-bottom: 0
    min-height: 0

.footer
  height: 5.6rem
  line-height: 5.6rem
  overflow: hidden

#plus-wrapper
  position: fixed
  right: 2rem
  bottom: 2rem
  z-index: 7
#plus
  display: block
  width: 5.6rem
  height: 5.6rem
  border-radius: 100%
  box-shadow: 0 0 0.8rem -0.1rem rgba(0,0,0,0.25)
  background: #333 url(/admin/assets/images/plus.svg) no-repeat center center

.modal-footer .btn+.btn
  margin-left: 1.6rem
.btn+.btn
  margin-left: 1.6rem

.lang-selector
  .dropdown-toggle
    height: 4.1rem
    line-height: 4.1rem
    margin-right: 2.4rem
    border: 1px solid #333
    border-radius: .2rem
    display: block
    text-align: center
    min-width: 8rem
.open > .btn-primary.dropdown-toggle
  background-color: #FFF
  border-color: #FFF
  color: #333
.dropdown-menu
  & > li > a
    padding: 1rem 2rem
  & > .active > a
    background-color: $highlight
    color: #333
    &:hover
      background-color: $highlight
      color: #333
.dropdown-menu
  border-radius: 0.2rem
  left: -0.1rem

.collection-edit, .signle-edit
  margin-bottom: 3.2rem
  > label
    margin-bottom: 2rem
  > fieldset
    position: relative
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.26), 0 2px 4px 0 rgba(0, 0, 0, 0.26)
    background-color: #FFF
    border-radius: 0.2rem
    padding: 1.6rem 2.4rem
    margin-bottom: 2.4rem
    &:before
      content: ''
      position: absolute
      left: 1rem
      top: -0.7rem
      height: 1.6rem
      width: 0.4rem
      background-color: #41d2fe
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(65, 210, 254)), to(rgb(42, 155, 233)))
      background-image: -webkit-linear-gradient(top, rgb(65, 210, 254), rgb(42, 155, 233))
      background-image: -moz-linear-gradient(top, rgb(65, 210, 254), rgb(42, 155, 233))
      background-image: -o-linear-gradient(top, rgb(65, 210, 254), rgb(42, 155, 233))
      background-image: -ms-linear-gradient(top, rgb(65, 210, 254), rgb(42, 155, 233))
      background-image: linear-gradient(top, rgb(65, 210, 254), rgb(42, 155, 233))
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#41d2fe', EndColorStr='#2a9be9')
      box-shadow: 0 0 8px 1px #41d2fe
      border: 1px solid #4991E3
