$red: #F15A24;
$highlight: #FFE7A6;

.btn,
.table input[type=checkbox]:hover,
.table input[type=radio]:hover,
table input[type=checkbox]:hover,
table input[type=radio]:hover {
    cursor: pointer;
}

body,
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font: 1.4rem/1.5 "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    background: #F0F0F0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 9.6rem;
    box-sizing: content-box;
}

.page-header {
    font-weight: 300;
}

.btn,
.table .th,
table .th {
    font-weight: 500;
}

.btn-wrapper {
    font-size: 0;
}

.btn {
    padding: 0 16px;
    box-sizing: border-box;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
    line-height: 36px;
    display: inline-block;
    -webkit-transition: all 450ms cubic-bezier(.23, 1, .32, 1)0ms;
    -moz-transition: all 450ms cubic-bezier(.23, 1, .32, 1)0ms;
    -o-transition: all 450ms cubic-bezier(.23, 1, .32, 1)0ms;
    transition: all 450ms cubic-bezier(.23, 1, .32, 1)0ms;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background: 0 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .24);
    height: 36px;
    min-width: 88px;
    letter-spacing: 0;
    text-transform: uppercase;
    border: 0;
}

.btn.sub,
table .btn.md {
    box-shadow: none;
    min-width: 0;
}

.btn.sub,
.btn.sub:disabled {
    background-color: transparent;
}

.btn.sub {
    color: #333;
    margin-right: 16px;
}

.btn.sub:disabled {
    color: #BBB;
}

.btn.btn-primary {
    color: #333;
    background-color: #FFF;
}

.btn.btn-danger {
    color: #FFF;
    background-color: $red;
}

.btn:disabled {
    background-color: #C4C4C4;
    color: #929292;
    box-shadow: none;
}

.btn:active,
.btn:active:focus,
.btn:focus {
    border-color: none;
    outline: 0;
}

.btn.btn-link,
.btn.btn-link:hover {
    color: #333;
}

table .btn.md {
    line-height: 1;
    height: auto;
    margin: 0;
}

table tr:nth-child(2n) {
    background-color: #F7F7F7;
}

table tr td .label,
table tr td .label-default,
table tr td .label-default[href],
table tr td .label[href] {
    background-color: #E1E1E1;
    color: #333;
    margin-right: .4rem;
    border-radius: .2rem;
}

table tr td .label-default:last-child,
table tr td .label-default[href]:last-child,
table tr td .label:last-child,
table tr td .label[href]:last-child {
    margin-right: 0;
}

table tr td .label-default:focus,
table tr td .label-default:hover,
table tr td .label-default[href]:focus,
table tr td .label-default[href]:hover,
table tr td .label:focus,
table tr td .label:hover,
table tr td .label[href]:focus,
table tr td .label[href]:hover {
    color: #333;
    background-color: #FFF;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .2);
}

table tr td .label-default.label-primary,
table tr td .label-default.label-primary[href],
table tr td .label-default[href].label-primary,
table tr td .label-default[href].label-primary[href],
table tr td .label.label-primary,
table tr td .label.label-primary[href],
table tr td .label[href].label-primary,
table tr td .label[href].label-primary[href] {
    background-color: $red;
    color: #FFF;
    margin-right: .4rem;
    border-radius: .2rem;
}

table tr td .label-default.label-primary:focus,
table tr td .label-default.label-primary:hover,
table tr td .label-default.label-primary[href]:focus,
table tr td .label-default.label-primary[href]:hover,
table tr td .label-default[href].label-primary:focus,
table tr td .label-default[href].label-primary:hover,
table tr td .label-default[href].label-primary[href]:focus,
table tr td .label-default[href].label-primary[href]:hover,
table tr td .label.label-primary:focus,
table tr td .label.label-primary:hover,
table tr td .label.label-primary[href]:focus,
table tr td .label.label-primary[href]:hover,
table tr td .label[href].label-primary:focus,
table tr td .label[href].label-primary:hover,
table tr td .label[href].label-primary[href]:focus,
table tr td .label[href].label-primary[href]:hover {
    color: #FFF;
    background-color: $red;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .2);
}

.nav {
    font-size: 1.6rem;
}

.nav>.item {
    margin-right: 2em;
    position: relative;
    float: left;
}

.nav>.item:last-child {
    margin-right: 0;
}

.nav>.item a {
    display: block;
    line-height: 4.2rem;
    padding: 0;
}

.nav>.item a:hover {
    background: 0 0;
}

.nav .dropdown:hover .dropdown-toggle {
    border: 1px solid #CCC;
    margin: -1px -13px;
    padding: 0 12px;
}

.nav .dropdown:hover .dropdown-menu {
    padding: 0 12px;
    background: #FFF;
    display: block;
    border: 1px solid #CCC;
    border-top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    box-sizing: content-box;
}

.nav .dropdown-menu {
    position: absolute;
    top: 4.3rem;
    left: -1.3rem;
    z-index: 7;
    min-width: 100%;
    display: none;
    border-radius: 0 0 2px 2px;
    float: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.nav .dropdown-menu a {
    display: block;
    padding: 0 12px;
    margin: 0 -12px;
}

.nav .dropdown-menu a:hover {
    background-color: #eee;
}

.nav .dropdown-toggle {
    border-bottom-color: transparent;
    border-radius: 2px 2px 0 0;
    position: relative;
    z-index: 7;
    background: 0 0;
}

.table-wrapper hr.hair {
    opacity: .2;
    width: 80%;
    margin: 0 auto;
}

.table,
table {
    font-size: 14px;
    width: 100%;
    position: relative;
    z-index: 3;
}

.table input[type=checkbox],
.table input[type=radio],
table input[type=checkbox],
table input[type=radio] {
    margin: 0;
    display: block;
}

.table[state=list],
table[state=list] {
    box-shadow: 0 1px 12px -1px rgba(0, 0, 0, .25);
}

.table .md,
table .md {
    font-size: 2rem;
    color: #777;
}

.table .thead,
.table thead,
table .thead,
table thead {
    background: #F7F7F7;
    border: 1px solid #CCC;
    border-radius: .2rem;
}

.table .tbody,
.table tbody,
table .tbody,
table tbody {
    background-color: #FFF;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 2px solid $red;
}

.table .td,
table .td {
    font-weight: 300;
}

.table .td,
.table .th,
table .td,
table .th {
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 1.2rem .8rem;
}

.table .td:first-child,
.table .th:first-child,
table .td:first-child,
table .th:first-child {
    padding-left: 1.6rem;
}

.table .td:last-child,
.table .th:last-child,
table .td:last-child,
table .th:last-child {
    padding-right: 1.6rem;
    text-align: right;
}

.table .td:last-child .btn,
.table .th:last-child .btn,
table .td:last-child .btn,
table .th:last-child .btn {
    padding: 0;
}

.table .tr.cur,
.table .tr:hover,
table .tr.cur,
table .tr:hover {
    cursor: pointer;
    background-color: $highlight;
}

.table .thr-inner,
table .thr-inner {
    width: 100%;
}

.table .thr-inner,
.table .tr-inner,
table .thr-inner,
table .tr-inner {
    display: table;
}

.table .thr-inner>*,
.table .tr-inner>*,
table .thr-inner>*,
table .tr-inner>* {
    display: table-cell;
}

.table[state=grid] .thead,
.table[state=grid] thead,
table[state=grid] .thead,
table[state=grid] thead {
    display: none;
}

.table[state=grid] .tbody,
.table[state=grid] tbody,
table[state=grid] .tbody,
table[state=grid] tbody {
    font-size: 0;
    text-align: center;
    background: 0 0;
    border: 0;
}

.table[state=grid] .thr-wrapper,
.table[state=grid] .tr-inner,
table[state=grid] .thr-wrapper,
table[state=grid] .tr-inner {
    width: auto;
}

.table[state=grid] .thr-inner,
.table[state=grid] .thr-inner>*,
.table[state=grid] .tr-inner,
.table[state=grid] .tr-inner>*,
table[state=grid] .thr-inner,
table[state=grid] .thr-inner>*,
table[state=grid] .tr-inner,
table[state=grid] .tr-inner>* {
    display: block;
}

.table[state=grid] .tr,
table[state=grid] .tr {
    position: relative;
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2.4%;
    box-sizing: border-box;
    padding: .8rem;
    background-color: #FFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    border: 1px solid #CCC;
    border-radius: 2px;
    overflow: hidden;
}

.table[state=grid] .tr:before,
table[state=grid] .tr:before {
    content: "";
    display: block;
    margin: -.8rem auto .8rem;
    width: 2rem;
    height: .5rem;
    background-color: #41d2fe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#41d2fe), to(#2a9be9));
    background-image: -webkit-linear-gradient(top, #41d2fe, #2a9be9);
    background-image: -moz-linear-gradient(top, #41d2fe, #2a9be9);
    background-image: -o-linear-gradient(top, #41d2fe, #2a9be9);
    background-image: -ms-linear-gradient(top, #41d2fe, #2a9be9);
    background-image: linear-gradient(top, #41d2fe, #2a9be9);
    // filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr="#41d2fe", EndColorStr="#2a9be9");
    box-shadow: 0 0 8px 1px #41d2fe;
    border: 1px solid #4991E3;
}

.pagination>li a,
.pagination>li a:hover {
    color: #777;
    background: 0 0;
}

.table[state=grid] .tr:last-child,
.table[state=grid] .tr:nth-child(3n),
table[state=grid] .tr:last-child,
table[state=grid] .tr:nth-child(3n) {
    margin-right: 0;
}

.table[state=grid] .tr.cur,
.table[state=grid] .tr:hover,
table[state=grid] .tr.cur,
table[state=grid] .tr:hover {
    box-shadow: 0 0 2.4rem -.1rem rgba(0, 0, 0, .25);
}

.table[state=grid] .td,
.table[state=grid] .th,
table[state=grid] .td,
table[state=grid] .th {
    text-align: left;
}

.table[state=grid] .td:last-child,
.table[state=grid] .th:last-child,
table[state=grid] .td:last-child,
table[state=grid] .th:last-child {
    padding-right: .8rem;
    text-align: left;
}

.table[state=grid] .td:first-child,
.table[state=grid] .th:first-child,
table[state=grid] .td:first-child,
table[state=grid] .th:first-child {
    padding-left: .8rem;
}

.table[state=grid] .td,
table[state=grid] .td {
    float: left;
    display: block;
    width: 50%!important;
}

.table[state=grid] .td:before,
table[state=grid] .td:before {
    content: attr(title)": ";
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
}

.table[state=grid] .td.col-act::before,
table[state=grid] .td.col-act::before {
    content: "";
}

.trigger-wrapper {
    border: 1px solid #777;
    border-radius: .2rem;
}

.trigger-wrapper .trigger {
    padding: .5rem .8rem;
    font-size: 2rem;
}

.trigger-wrapper .trigger.cur {
    color: $red;
}

.pagination-wrapper {
    text-align: center;
}

.pagination {
    font-size: 1.8rem;
    display: inline-block;
}

.pagination>li {
    font-family: Georgia, raleway;
    border-bottom: 1px solid #333;
}

.pagination>li.cur {
    margin-top: -.8rem;
}

.pagination>li a {
    display: block;
    padding: .8rem 1.6rem;
    border: 0;
    border-radius: 0;
    float: none;
}

.pagination .next,
.pagination .prev {
    border-bottom: 0;
}

.copyright {
    font-family: "Poiret One", cursive;
    font-size: 1.6rem;
}

.copyright small {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    font-size: 1.2rem;
    margin-left: .5em;
}

.search-wrapper form {
    display: block;
    position: relative;
    width: 32rem;
    border: 1px solid #333;
    border-radius: .2rem;
}

.search-wrapper .md {
    font-size: 2rem;
    text-align: center;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    position: absolute;
}

.search-wrapper .md-search {
    left: 0;
    top: 0;
}

.search-wrapper .md-close {
    right: 0;
    top: 0;
}

.search-wrapper input[type=search] {
    display: block;
    width: 24rem;
    line-height: 4rem;
    font-size: 1.8rem;
    margin: 0 4rem;
    padding: 0;
    box-shadow: none;
    border: 0;
    background-color: transparent;
}
